<div id="monitorPortletSet">
	<div class="row portlet-row">
		<div class="col-lg-6"
			 ng-controller="PortletViewCtrl"
			 portlet="monitorPortlet1"
			 portlet-title="portletViewConfig.title"
			 portlet-content-config="portletViewConfig"
			 portlet-minimize-policy="destroy"
			 portlet-view-configure-function="configureView"
			 on-load-callback="onPortletLoaded">
		</div>

		<div class="col-lg-6"
			 ng-controller="PortletViewCtrl"
			 portlet="monitorPortlet2"
			 portlet-title="portletViewConfig.title"
			 portlet-content-config="portletViewConfig"
			 portlet-minimize-policy="destroy"
			 portlet-view-configure-function="configureView"
			 on-load-callback="onPortletLoaded">
		</div>
	</div>

	<div class="row portlet-row lower-portlet-row">
		<div class="col-lg-6"
			 ng-controller="PortletViewCtrl"
			 portlet="monitorPortlet3"
			 portlet-title="portletViewConfig.title"
			 portlet-content-config="portletViewConfig"
			 portlet-minimize-policy="destroy"
			 portlet-view-configure-function="configureView"
			 on-load-callback="onPortletLoaded">
		</div>

		<div class="col-lg-6"
			 ng-controller="PortletViewCtrl"
			 portlet="monitorPortlet4"
			 portlet-title="portletViewConfig.title"
			 portlet-content-config="portletViewConfig"
			 portlet-minimize-policy="destroy"
			 portlet-view-configure-function="configureView"
			 on-load-callback="onPortletLoaded">
		</div>
	</div>
</div>