.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.popover {
  padding: 0px;
}
.popover .popover-title {
  color: #ffffff;
}
.jumbotron {
  background-color: #4682b4;
  color: #ffffff;
}
.modal-content {
  background-color: #4682b4;
}
.modal-content .modal-header {
  background-color: #4682b4;
  color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-content .modal-body {
  background-color: white;
}
.modal-content .modal-footer {
  margin-top: 0px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.close {
  color: #ffffff;
  text-shadow: 0px -1px 0px #6d6d6d;
  opacity: 0.9;
}
.close:hover,
.close:focus {
  color: #ffffff;
  opacity: 1.0;
}
body {
  background-color: #4682b4;
}
body a:hover {
  color: #ffffff;
}
