@import "util/styleUtilities.less";
@import "util/bootstrapOverride.less";
@import "util/bs-containerOverride.less";

body {

	#secondaryPageHeader{
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;

		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;

		padding-top: 10px;
		padding-bottom: 10px;
	}

	.icon-container {
		float: left;

		img {
			width: 200px;
			height: 200px;
		}

		.icon-container-link {
			.border-radius(5px,5px,5px,5px);
			.boxShadow(0px,0px, 5px,0px, grey);
		}
	}
}