.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.popover {
  padding: 0px;
}
.popover .popover-title {
  color: #ffffff;
}
.jumbotron {
  background-color: #4682b4;
  color: #ffffff;
}
.modal-content {
  background-color: #4682b4;
}
.modal-content .modal-header {
  background-color: #4682b4;
  color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-content .modal-body {
  background-color: white;
}
.modal-content .modal-footer {
  margin-top: 0px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.close {
  color: #ffffff;
  text-shadow: 0px -1px 0px #6d6d6d;
  opacity: 0.9;
}
.close:hover,
.close:focus {
  color: #ffffff;
  opacity: 1.0;
}
@media (min-width: 800px) {
  .container {
    min-width: 770px;
  }
}
@media (min-width: 900px) {
  .container {
    min-width: 870px;
  }
}
@media (min-width: 1000px) {
  .container {
    min-width: 970px;
  }
}
@media (min-width: 1100px) {
  .container {
    min-width: 1070px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1170px;
  }
}
@media (min-width: 1300px) {
  .container {
    min-width: 1270px;
  }
}
@media (min-width: 1400px) {
  .container {
    min-width: 1370px;
  }
}
@media (min-width: 1500px) {
  .container {
    min-width: 1470px;
  }
}
@media (min-width: 1600px) {
  .container {
    min-width: 1570px;
  }
}
@media (min-width: 1600px) {
  .container {
    min-width: 1570px;
  }
}
@media (min-width: 1700px) {
  .container {
    min-width: 1670px;
  }
}
@media (min-width: 1800px) {
  .container {
    min-width: 1770px;
  }
}
@media (min-width: 1900px) {
  .container {
    min-width: 1870px;
  }
}
@media (min-width: 2000px) {
  .container {
    min-width: 1970px;
  }
}
@media (min-width: 2100px) {
  .container {
    min-width: 2070px;
  }
}
@media (min-width: 2200px) {
  .container {
    min-width: 2170px;
  }
}
@media (min-width: 2300px) {
  .container {
    min-width: 2270px;
  }
}
@media (min-width: 2400px) {
  .container {
    min-width: 2370px;
  }
}
@media (min-width: 2500px) {
  .container {
    min-width: 2470px;
  }
}
@media (min-width: 2600px) {
  .container {
    min-width: 2570px;
  }
}
@media (min-width: 2700px) {
  .container {
    min-width: 2670px;
  }
}
#secondaryPageHeader {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#documentation {
  margin-top: 80px;
}
#documentation #sidenav {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8fafc;
  border-radius: 5px;
}
#documentation #sidenav .sidebar-link {
  display: block;
  color: grey;
  padding: 3px 20px;
}
#documentation #sidenav .sidebar-link:hover,
#documentation #sidenav .sidebar-link:focus {
  text-decoration: none;
  background-color: #dee9f2;
}
#documentation #sidenav .sidebar-link-level-2 {
  padding-left: 30px;
  font-size: 90%;
}
#documentation #sidenav .sidebar-link-level-3 {
  padding-left: 40px;
  font-size: 90%;
}
#documentation #sidenav .sidebar-link-level-4 {
  padding-left: 50px;
  font-size: 90%;
}
#documentation #sidenav .active > a,
#documentation #sidenav .active:hover > a,
#documentation #sidenav .active:focus > a {
  font-weight: bold;
  color: #4682b4;
  background-color: transparent;
}
#documentation #sidenav li .second-level-menu {
  display: none;
  margin-bottom: 8px;
}
#documentation #sidenav li.active .second-level-menu {
  display: block;
}
#documentation #sidenav.affix {
  position: fixed;
  top: 150px;
}
@media (min-width: 768px) {
  #documentation #sidenav.affix {
    width: -webkit-calc(33.333% - 40px);
    width: -moz-calc(33.333% - 40px);
    width: calc(33.333% - 40px);
  }
}
@media (max-width: 767px) {
  #documentation #sidenav.affix {
    position: static;
  }
}
#documentation #sidenav.affix-top {
  position: static;
}
#documentation #sidenav.affix-bottom {
  position: absolute;
}
#documentation #content {
  position: relative;
}
footer {
  height: 420px;
}
