@import "util/constants.less";
@import "util/containerUtilities.less";
@import "util/bootstrapOverride.less";
@import "util/bs-containerOverride.less";


#secondaryPageHeader{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	padding-top: 10px;
	padding-bottom: 10px;
}

#documentation {
	margin-top: 80px;

	#sidenav {
		margin-top: 20px;
		margin-bottom: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: lighten(@brand-primary, 49%);
		border-radius: 5px;

		.sidebar-link {
			display: block;
			color: grey;
			padding: 3px 20px;

			&:hover, &:focus {
				text-decoration: none;
				background-color: lighten(@brand-primary, 42%);
			}
		}

		.sidebar-link-level-2 {
			padding-left: 30px;
			font-size: 90%;
		}

		.sidebar-link-level-3 {
			padding-left: 40px;
			font-size: 90%;
		}

		.sidebar-link-level-4 {
			padding-left: 50px;
			font-size: 90%;
		}

		.active > a,
		.active:hover > a,
		.active:focus > a {
			font-weight: bold;
			color: @brand-primary;
			background-color: transparent;
		}

		li {
			.second-level-menu {
				display: none;
				margin-bottom: 8px;
			}

		}

		li.active {
			.second-level-menu {
				display: block;
			}
		}
	}

	#sidenav.affix {
		position: fixed;
		top: 150px;

		@media (min-width: 768px) {
			.width(~"33.333% - 40px");
		}

		@media (max-width: 767px) {
			position: static;
		}
	}

	#sidenav.affix-top {
		position: static;
	}

	#sidenav.affix-bottom {
		position: absolute;
	}

	#content {
		position: relative;
	}
}

footer {
	height: 420px;
}
