@import "util/constants.less";
@import "util/bootstrapOverride.less";
@import "util/bs-containerOverride.less";

.navbar {
	.brand-link {
		padding-top: 0px;
		padding-bottom: 0px;
		img {
			height: 50px;
		}
	}
}
