@import "util/constants.less";
@import "util/styleUtilities.less";
@import "util/containerUtilities.less";

.youtubeMask{
	font-size: 120px;
	padding-top: 30px;

	.boxShadow(0px, 0px, 5px, 0px, grey);
	.border-radius(5px, 5px, 5px, 5px);

	border: 1px solid @brand-primary;

	.play-icon{
		text-shadow: -5px 0px 7px grey;

		&:active{
			text-shadow: none;
		}
	}
}

body {
	.main-container;

	#videoFrame{
		height: 335px;
	}

	#header {
		background-color: @brand-primary;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 0px 0px 20px 20px;

		#navbar{
			background-color: @brand-primary;
			padding-top: 10px;

			margin-bottom: 10px;

			button{
				&:first-child{
					margin-right: 10px;
				}

				background-color: lighten(#4682b4, 7%);
				border-color: darken(#4682b4, 5%);

				&:hover, &:focus{
					background-color: lighten(#4682b4, 3%);
				}

				&:active{
					box-shadow: 0px 0px 5px grey inset;
				}

				@media (min-width: 768px) {
					padding: 10px 16px;
					font-size: 18px;
					line-height: 1.33;
					border-radius: 6px;
				}
			}
		}

		h1 {
			color: white;
		}

		#brandlogo{
			height: 250px;
			
			@media (max-width: 600px) {
				height: 200px;
			}

			@media (max-width: 500px) {
				height: 150px;
			}

			@media (max-width: 400px) {
				height: 125px;
			}

			@media (max-width: 350px) {
				height: 100px;
			}

			@media (max-width: 300px) {
				height: 80px;
			}

			@media (max-width: 250px) {
				height: 65px;
			}
		}

		#tagline {
			color: #ffffff;
		}
	}

	#broadFeatures{
		i{
			font-size: 60px;
		}
	}

	#subscriptionForm {
		visibility: hidden;
		i {
			color: #ffffff;
		}
	}

	#timerRow{
		button{
			margin-top: 5px;
		}
	}

	.productDetailIcon{
		font-size: 6em;
	}

	#notifyButton, #dropMsgButton{
		margin-left: 10px;
	}

	#postSubscribeMsg {
		margin-left: 10px;
		visibility: hidden;
	}
}

#tagline {
	top: -30px;
	opacity: 0.1;

	position: relative;

	.transition(1.0s);
}

.transition(@time:1.0s) {
	-webkit-transition: all @time ease;
	-moz-transition: all @time ease;
	-o-transition: all @time ease;
	-ms-transition: all @time ease;
	transition: all @time ease;
}