.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.youtubeMask {
  font-size: 120px;
  padding-top: 30px;
  -moz-box-shadow: 0px 0px 5px 0px #808080;
  -webkit-box-shadow: 0px 0px 5px 0px #808080;
  box-shadow: 0px 0px 5px 0px #808080;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #4682b4;
}
.youtubeMask .play-icon {
  text-shadow: -5px 0px 7px #808080;
}
.youtubeMask .play-icon:active {
  text-shadow: none;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
body #videoFrame {
  height: 335px;
}
body #header {
  background-color: #4682b4;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 20px 20px;
}
body #header #navbar {
  background-color: #4682b4;
  padding-top: 10px;
  margin-bottom: 10px;
}
body #header #navbar button {
  background-color: #5e93c0;
  border-color: #3f75a2;
}
body #header #navbar button:first-child {
  margin-right: 10px;
}
body #header #navbar button:hover,
body #header #navbar button:focus {
  background-color: #4f8aba;
}
body #header #navbar button:active {
  box-shadow: 0px 0px 5px grey inset;
}
@media (min-width: 768px) {
  body #header #navbar button {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }
}
body #header h1 {
  color: white;
}
body #header #brandlogo {
  height: 250px;
}
@media (max-width: 600px) {
  body #header #brandlogo {
    height: 200px;
  }
}
@media (max-width: 500px) {
  body #header #brandlogo {
    height: 150px;
  }
}
@media (max-width: 400px) {
  body #header #brandlogo {
    height: 125px;
  }
}
@media (max-width: 350px) {
  body #header #brandlogo {
    height: 100px;
  }
}
@media (max-width: 300px) {
  body #header #brandlogo {
    height: 80px;
  }
}
@media (max-width: 250px) {
  body #header #brandlogo {
    height: 65px;
  }
}
body #header #tagline {
  color: #ffffff;
}
body #broadFeatures i {
  font-size: 60px;
}
body #subscriptionForm {
  visibility: hidden;
}
body #subscriptionForm i {
  color: #ffffff;
}
body #timerRow button {
  margin-top: 5px;
}
body .productDetailIcon {
  font-size: 6em;
}
body #notifyButton,
body #dropMsgButton {
  margin-left: 10px;
}
body #postSubscribeMsg {
  margin-left: 10px;
  visibility: hidden;
}
#tagline {
  top: -30px;
  opacity: 0.1;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
