.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
#navigationBar {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
#navigationBar .brand-link {
  padding-top: 0px;
  padding-bottom: 0px;
}
#navigationBar .brand-link img {
  height: 50px;
}
#userActionsBtn .caret {
  border-top-color: white;
  border-bottom-color: white;
}
#userActionsBtn:hover {
  color: #ffffff;
  text-decoration: none;
}
#alertBadge .badge {
  top: -10px;
  left: -8px;
  position: relative;
}
#alertBadge .fa-bell {
  font-size: 16px;
}
