@import "../util/constants.less";
@import "../util/styleUtilities.less";
@import "../util/containerUtilities.less";

#navigationBar {
	.border-box;
	.brand-link {
		padding-top: 0px;
		padding-bottom: 0px;
		img{
			height: 50px;
		}
	}
}

#userActionsBtn {

	.caret {
		border-top-color: white;
		border-bottom-color: white;
	}

	&:hover {
		.text-white;
		text-decoration: none;
	}
}

#alertBadge {
	.badge {
		top: -10px;
		left: -8px;
		position: relative;
	}

	.fa-bell {
		font-size: 16px;
	}
}
