.nvd3chart {
	.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point{
		fill-opacity: 1;
	}

//	.nvd3 .nv-focus .nv-groups path.nv-line{
//		stroke-opacity: 0;
//	}

	.nvd3 .nvtooltip{
		z-index: 20;
		position: relative;
	}
}