<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="onCancelClicked()">&times;</button>
				<h4 class="modal-title">Confirm delete</h4>
			</div>

			<!--Body-->
			<div class="modal-body">
				Are you sure you want to delete {{toBeDeletedEntityType + ' "' + toBeDeletedEntityId + '"'}}</span>?
			</div>

			<!--Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="onCancelClicked()">Cancel</button>
				<button type="button" ng-click="deleteEntity(toBeDeletedEntityId)" data-dismiss="modal" class="btn btn-primary">Yes</button>
			</div>
		</div>
	</div>
</div>