<label class="control-label col-md-2"></label>

<div id="dateRangeContainer" class="col-md-10">
	<div class="row">
		<div class="col-xs-7 datepicker-container">
			<div datepicker class="input-group date">

				<input class="form-control" type="text" readonly>
				<span class="input-group-btn input-group-middle-btn">
					<button class="btn btn-primary" type="button">
						<i class="fa fa-calendar text-white"></i>
					</button>
				</span>
			</div>
		</div>

		<div class="col-xs-5 timepicker-container">
			<div timepicker class="input-group bootstrap-timepicker">

				<input type="text" class="form-control" readonly style="border-radius: 0px">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button">
						<i class="fa fa-clock-o text-white"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>