<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{notificationTitle}}</h4>
			</div>

			<!--Body-->
			<div class="modal-body">
				{{notificationMessage}}
			</div>

			<!--Footer-->
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
			</div>
		</div>
	</div>
</div>