<table class="table">
	<tbody>

		<tr>
			<td class="text-primary">Data Store Name</td>
			<td>{{allArchives[selectedArchiveKey].dataStoreName}}</td>
		</tr>

		<tr>
			<td class="text-primary">Archive Name</td>
			<td>{{allArchives[selectedArchiveKey].archiveName}}</td>
		</tr>

		<tr>
			<td class="text-primary">Aggregation Function</td>
			<td>{{allArchives[selectedArchiveKey].aggregationFunction}}</td>
		</tr>

		<tr>
			<td class="text-primary"
				ng-switch on="allArchives[selectedArchiveKey].isCounterBased">
				<p ng-switch-when="true">Aggregation Sample Size</p>

				<p ng-switch-when="false">Aggregation Time Period</p>

				<p ng-switch-default>Aggregation Time Period</p>
			</td>

			<td ng-switch on="allArchives[selectedArchiveKey].isCounterBased">
				<p ng-switch-when="true">{{allArchives[selectedArchiveKey].counterSize}}</p>

				<p ng-switch-when="false">{{allArchives[selectedArchiveKey].storagePrecisionString}}</p>

				<p ng-switch-default>{{allArchives[selectedArchiveKey].storagePrecisionString}}</p>
			</td>
		</tr>

	</tbody>
</table>