<div class="row panel panel-default archive-search-box archive-search">
	<ul class="col-xs-12">
		<li class="selected-archives">
			<div ng-repeat="selectedArchiveKey in selectedArchives"
				 class="selected-archive-box"
				 data-placement="bottom"
				 data-trigger="hover"
				 data-title="{{selectedArchiveKey}}"
				 bs-popover="'js/modules/timenomewatch/templates/views/util/objDetailsPopover.html'">
				<span>{{selectedArchiveKey}}</span>
						<span class="text-right close"
							  ng-click="removeArchiveFromSelectedList($event, $index)">&times;</span>
			</div>
		</li>

		<li class="archive-search-input-box">
			<div class="input-group search-group">
				<input ng-model="search.filterText" class="form-control" placeholder="Search archives"
					   ng-click="searchBoxClicked($event)" blur="search.blur">
				<span class="input-group-addon"><i class=" fa fa-search"></i></span>
			</div>
		</li>
	</ul>
</div>

<div class="row archive-search">
	<div class="col-xs-12 archive-select-dropdown" infinite-scroll scroll-reached-bottom-callback="loadMoreArchives"
		 ng-show="search.showArchiveSelectDropdown">
		<div ng-repeat="i in archiveCountSequence track by $index"
			 ng-class="{'selectable-archive': !selectedArchivesSet[filteredArchiveKeys[$index]]}"
			 ng-click="addArchive($event, filteredArchiveKeys[$index]);">
			<span> {{filteredArchiveKeys[$index]}}</span>
		</div>
	</div>
</div>