@import "../util/styleUtilities.less";
@import "../util/containerUtilities.less";

.portlet-row {
	@portlet-margin-top: 20px;
	[portlet] {
		margin-top: @portlet-margin-top;
	}
}

.lower-portlet-row {
	margin-bottom: 5px;
}

/******************* Media Queries for portlet body height ***************/
#monitorPortletSet {
	.portlet-body {

		/***********  For Vertical Stacking **************/
		@media (min-width: 100px) and (max-width: 400px) {
			height: 200px;
		}

		@media (min-width: 401px) and (max-width: 450px) {
			height: 250px;
		}

		@media (min-width: 451px) and (max-width: 600px) {
			height: 300px;
		}

		@media (min-width: 601px) and (max-width: 900px) {
			height: 400px;
		}

		@media (min-width: 901px) and (max-width: 1199px) {
			height: 450px;
		}

		/************* For Horizontal Stacking (bootstrap stacks horizontally beyond 1200px *************/
		@media (min-width: 1200px) and (max-height: 600px) {
			height: 340px;
		}

		@media (min-width: 1200px) and (min-height: 601px) and (max-height: 700px) {
			height: 300px;
		}

		@media (min-width: 1200px) and (min-height: 701px) and (max-height: 750px) {
			height: 270px;
		}

		@media (min-width: 1200px) and (min-height: 751px) and (max-height: 800px) {
			height: 300px;
		}

		@media (min-width: 1200px) and (min-height: 801px) and (max-height: 850px) {
			height: 340px;
		}

		@media (min-width: 1200px) and (min-height: 851px) and (max-height: 900px) {
			height: 350px;
		}

		//Following to be tested on a high resolution machine
		@media (min-width: 1200px) and (min-height: 900px) and (max-height: 1000px) {
			height: 400px;
		}

		@media (min-width: 1200px) and (min-height: 1001px) and (max-height: 1100px) {
			height: 450px;
		}

		@media (min-width: 1200px) and (min-height: 1101px) and (max-height: 1200px) {
			height: 500px;
		}

		@media (min-width: 1200px) and (min-height: 1201px) and (max-height: 1300px) {
			height: 550px;
		}

		@media (min-width: 1200px) and (min-height: 1301px) and (max-height: 1400px) {
			height: 600px;
		}

		@media (min-width: 1200px) and (min-height: 1401px) and (max-height: 1500px) {
			height: 650px;
		}

		@media (min-width: 1200px) and (min-height: 1501px) and (max-height: 1600px) {
			height: 700px;
		}
	}
}