.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.portlet-row [portlet] {
  margin-top: 20px;
}
.lower-portlet-row {
  margin-bottom: 5px;
}
/******************* Media Queries for portlet body height ***************/
#monitorPortletSet .portlet-body {
  /***********  For Vertical Stacking **************/
  /************* For Horizontal Stacking (bootstrap stacks horizontally beyond 1200px *************/
}
@media (min-width: 100px) and (max-width: 400px) {
  #monitorPortletSet .portlet-body {
    height: 200px;
  }
}
@media (min-width: 401px) and (max-width: 450px) {
  #monitorPortletSet .portlet-body {
    height: 250px;
  }
}
@media (min-width: 451px) and (max-width: 600px) {
  #monitorPortletSet .portlet-body {
    height: 300px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  #monitorPortletSet .portlet-body {
    height: 400px;
  }
}
@media (min-width: 901px) and (max-width: 1199px) {
  #monitorPortletSet .portlet-body {
    height: 450px;
  }
}
@media (min-width: 1200px) and (max-height: 600px) {
  #monitorPortletSet .portlet-body {
    height: 340px;
  }
}
@media (min-width: 1200px) and (min-height: 601px) and (max-height: 700px) {
  #monitorPortletSet .portlet-body {
    height: 300px;
  }
}
@media (min-width: 1200px) and (min-height: 701px) and (max-height: 750px) {
  #monitorPortletSet .portlet-body {
    height: 270px;
  }
}
@media (min-width: 1200px) and (min-height: 751px) and (max-height: 800px) {
  #monitorPortletSet .portlet-body {
    height: 300px;
  }
}
@media (min-width: 1200px) and (min-height: 801px) and (max-height: 850px) {
  #monitorPortletSet .portlet-body {
    height: 340px;
  }
}
@media (min-width: 1200px) and (min-height: 851px) and (max-height: 900px) {
  #monitorPortletSet .portlet-body {
    height: 350px;
  }
}
@media (min-width: 1200px) and (min-height: 900px) and (max-height: 1000px) {
  #monitorPortletSet .portlet-body {
    height: 400px;
  }
}
@media (min-width: 1200px) and (min-height: 1001px) and (max-height: 1100px) {
  #monitorPortletSet .portlet-body {
    height: 450px;
  }
}
@media (min-width: 1200px) and (min-height: 1101px) and (max-height: 1200px) {
  #monitorPortletSet .portlet-body {
    height: 500px;
  }
}
@media (min-width: 1200px) and (min-height: 1201px) and (max-height: 1300px) {
  #monitorPortletSet .portlet-body {
    height: 550px;
  }
}
@media (min-width: 1200px) and (min-height: 1301px) and (max-height: 1400px) {
  #monitorPortletSet .portlet-body {
    height: 600px;
  }
}
@media (min-width: 1200px) and (min-height: 1401px) and (max-height: 1500px) {
  #monitorPortletSet .portlet-body {
    height: 650px;
  }
}
@media (min-width: 1200px) and (min-height: 1501px) and (max-height: 1600px) {
  #monitorPortletSet .portlet-body {
    height: 700px;
  }
}
