.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.popover {
  padding: 0px;
}
.popover .popover-title {
  color: #ffffff;
}
.jumbotron {
  background-color: #4682b4;
  color: #ffffff;
}
.modal-content .modal-header {
  background-color: #4682b4;
  color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-content .modal-body {
  background-color: white;
}
.modal-content .modal-footer {
  margin-top: 0px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.close {
  color: #ffffff;
  text-shadow: 0px -1px 0px #6d6d6d;
  opacity: 0.9;
}
.close:hover,
.close:focus {
  color: #ffffff;
  opacity: 1.0;
}
@media (min-width: 800px) {
  .container {
    min-width: 770px;
  }
}
@media (min-width: 900px) {
  .container {
    min-width: 870px;
  }
}
@media (min-width: 1000px) {
  .container {
    min-width: 970px;
  }
}
@media (min-width: 1100px) {
  .container {
    min-width: 1070px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1170px;
  }
}
@media (min-width: 1300px) {
  .container {
    min-width: 1270px;
  }
}
@media (min-width: 1400px) {
  .container {
    min-width: 1370px;
  }
}
@media (min-width: 1500px) {
  .container {
    min-width: 1470px;
  }
}
@media (min-width: 1600px) {
  .container {
    min-width: 1570px;
  }
}
@media (min-width: 1600px) {
  .container {
    min-width: 1570px;
  }
}
@media (min-width: 1700px) {
  .container {
    min-width: 1670px;
  }
}
@media (min-width: 1800px) {
  .container {
    min-width: 1770px;
  }
}
@media (min-width: 1900px) {
  .container {
    min-width: 1870px;
  }
}
@media (min-width: 2000px) {
  .container {
    min-width: 1970px;
  }
}
@media (min-width: 2100px) {
  .container {
    min-width: 2070px;
  }
}
@media (min-width: 2200px) {
  .container {
    min-width: 2170px;
  }
}
@media (min-width: 2300px) {
  .container {
    min-width: 2270px;
  }
}
@media (min-width: 2400px) {
  .container {
    min-width: 2370px;
  }
}
@media (min-width: 2500px) {
  .container {
    min-width: 2470px;
  }
}
@media (min-width: 2600px) {
  .container {
    min-width: 2570px;
  }
}
@media (min-width: 2700px) {
  .container {
    min-width: 2670px;
  }
}
body {
  padding-top: 60px;
}
body .navbar img {
  height: 60px;
}
body #forgotPasswordBtn {
  padding-left: 0px;
}
body #signUpLoading,
body #loginLoading {
  -webkit-transition: visibility 0.7s ease;
  -moz-transition: visibility 0.7s ease;
  -o-transition: visibility 0.7s ease;
  -ms-transition: visibility 0.7s ease;
  transition: visibility 0.7s ease;
}
body #doSignUpButton,
body #doLoginBtn {
  -webkit-transition: width 0.7s ease;
  -moz-transition: width 0.7s ease;
  -o-transition: width 0.7s ease;
  -ms-transition: width 0.7s ease;
  transition: width 0.7s ease;
}
body #loginSignUpForm {
  -moz-box-shadow: 0px 1px 7px 0px #808080;
  -webkit-box-shadow: 0px 1px 7px 0px #808080;
  box-shadow: 0px 1px 7px 0px #808080;
  margin-top: 20px;
  padding-top: 20px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
@media (min-width: 1000px) {
  body #loginSignUpForm {
    margin-top: 150px;
  }
}
body #dashboardDetails {
  margin-top: 20px;
}
body #dashboardDetails h1 {
  padding-bottom: 20px;
}
body #dashboardDetails .fa {
  font-size: 60px;
}
body #dashboardDetails ul {
  list-style: square;
}
body #dashboardDetails ul li {
  padding-bottom: 20px;
}
body .user-form {
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}
body .user-form .user-form-heading {
  padding-bottom: 15px;
}
