@import "util/constants.less";
@import "util/styleUtilities.less";
@import "util/containerUtilities.less";
@import "util/bootstrapOverride.less";
@import "util/bs-containerOverride.less";

body {

	padding-top: 60px;

	.navbar {
		img {
			height: 60px;
		}
	}

	#forgotPasswordBtn {
		padding-left: 0px;
	}

	#signUpLoading, #loginLoading {
		.transition(0.7s, visibility);
	}

	#doSignUpButton, #doLoginBtn {
		.transition(0.7s, width);
	}

	#loginSignUpForm {
		.boxShadow(0px, 1px, 7px, 0px, grey);
		margin-top: 20px;
		padding-top: 20px;

		.border-radius(5px, 5px, 5px, 5px);

		@media (min-width: 1000px) {
			margin-top: 150px;
		}
	}

	#dashboardDetails {
		h1 {
			padding-bottom: 20px;
		}
		.fa {
			font-size: 60px;
		}
		ul {
			list-style: square;
			li {
				padding-bottom: 20px;
			}
		}

		margin-top: 20px;
	}

	.user-form {
		padding: 10px 10px 10px 10px;

		margin-top: 20px;

		.user-form-heading {
			padding-bottom: 15px;
		}
	}
}

