@import "util/constants.less";
@import "util/styleUtilities.less";
@import "util/containerUtilities.less";
@import "util/bootstrapOverride.less";
@import "util/bs-containerOverride.less";
@import "util/bootstrap-timepicker-extend.less";
@import "util/archiveSearchBox.less";

@import "navigationBar/navigationBar.less";
@import "portlet/portlet.less";
@import "nvd3chart/nvd3chart.less";
@import "amchart/amchart.less";
@import "monitor/monitor.less";
@import "settings/settings.less";
@import "manage/manage.less";
@import "rules/rules.less";
@import "util/chartLoad.less";
@import "portletViewConfig/portletViewConfig.less";

body {
	.main-container;
}

.loading-icon-container {
	@loadingIconContainerHeight: 90px;

	.loading-icon-top-offset{
		.full-width;
		.height(~"(100% - @{loadingIconContainerHeight})/2");
	}

	.loading-icon {
		@loadingIconContainerWidth: 80px;

		width: @loadingIconContainerWidth;
		position: relative;
		font-size: @loadingIconContainerHeight;
		.text-engraved-light-bg;

		.margin(0px, 0px, 0px, ~"(100% - @{loadingIconContainerWidth})/2");
	}
}

.timenome-chart{
	@timerangeTitleHeight: 20px;
	.timerange-title{
		height: @timerangeTitleHeight;
		margin-bottom: 0px;
	}

	.graph-area{
		.height(~"100% - @{timerangeTitleHeight}");
//		.full-height;
	}
}