.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.popover {
  padding: 0px;
}
.popover .popover-title {
  color: #ffffff;
}
.jumbotron {
  background-color: #4682b4;
  color: #ffffff;
}
.modal-content .modal-header {
  background-color: #4682b4;
  color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-content .modal-body {
  background-color: white;
}
.modal-content .modal-footer {
  margin-top: 0px;
  background-color: white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.close {
  color: #ffffff;
  text-shadow: 0px -1px 0px #6d6d6d;
  opacity: 0.9;
}
.close:hover,
.close:focus {
  color: #ffffff;
  opacity: 1.0;
}
@media (min-width: 800px) {
  .container {
    min-width: 770px;
  }
}
@media (min-width: 900px) {
  .container {
    min-width: 870px;
  }
}
@media (min-width: 1000px) {
  .container {
    min-width: 970px;
  }
}
@media (min-width: 1100px) {
  .container {
    min-width: 1070px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1170px;
  }
}
@media (min-width: 1300px) {
  .container {
    min-width: 1270px;
  }
}
@media (min-width: 1400px) {
  .container {
    min-width: 1370px;
  }
}
@media (min-width: 1500px) {
  .container {
    min-width: 1470px;
  }
}
@media (min-width: 1600px) {
  .container {
    min-width: 1570px;
  }
}
@media (min-width: 1600px) {
  .container {
    min-width: 1570px;
  }
}
@media (min-width: 1700px) {
  .container {
    min-width: 1670px;
  }
}
@media (min-width: 1800px) {
  .container {
    min-width: 1770px;
  }
}
@media (min-width: 1900px) {
  .container {
    min-width: 1870px;
  }
}
@media (min-width: 2000px) {
  .container {
    min-width: 1970px;
  }
}
@media (min-width: 2100px) {
  .container {
    min-width: 2070px;
  }
}
@media (min-width: 2200px) {
  .container {
    min-width: 2170px;
  }
}
@media (min-width: 2300px) {
  .container {
    min-width: 2270px;
  }
}
@media (min-width: 2400px) {
  .container {
    min-width: 2370px;
  }
}
@media (min-width: 2500px) {
  .container {
    min-width: 2470px;
  }
}
@media (min-width: 2600px) {
  .container {
    min-width: 2570px;
  }
}
@media (min-width: 2700px) {
  .container {
    min-width: 2670px;
  }
}
[timepicker] .dropdown-menu {
  min-width: 0px;
  width: 185px;
  max-width: 185px;
}
@media (max-width: 550px) {
  [timepicker] .dropdown-menu {
    left: -webkit-calc(100% - 185px);
    left: -moz-calc(100% - 185px);
    left: calc(100% - 185px);
  }
  [timepicker] .dropdown-menu:before {
    left: 110px;
  }
  [timepicker] .dropdown-menu:after {
    left: 111px;
  }
}
@media (min-width: 600px) {
  .archive-search {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.archive-select-dropdown {
  overflow: auto;
  height: 200px;
  margin-top: 2px;
  -moz-box-shadow: 0px 1px 3px 0px #808080;
  -webkit-box-shadow: 0px 1px 3px 0px #808080;
  box-shadow: 0px 1px 3px 0px #808080;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  background-color: white;
}
.archive-select-dropdown div {
  opacity: 0.5;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-top: 5px;
}
.archive-select-dropdown .selectable-archive {
  opacity: 1.0;
  cursor: pointer;
}
.archive-select-dropdown .selectable-archive:hover,
.archive-select-dropdown .selectable-archive:focus {
  background-color: #4682b4;
  color: #ffffff;
}
.archive-search-box {
  margin-bottom: 0px;
  border-color: #4682b4;
}
.archive-search-box ul {
  padding-top: 5px;
}
.archive-search-box ul .selected-archives .popover-content {
  padding: 0px;
}
.archive-search-box ul li {
  list-style: none;
  float: left;
}
.archive-search-box ul li .selected-archive-box {
  height: 22px;
  float: left;
  margin-top: 6px;
  margin-right: 10px;
  padding-left: 6px;
  padding-right: 6px;
  border-color: #3f75a2;
  border-radius: 3px;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4682b4), to(#699bc4));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #699bc4, #4682b4);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #699bc4, #4682b4);
  /* IE 10 */
  background: -ms-linear-gradient(top, #699bc4, #4682b4);
  /* IE 9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#699bc4, endColorstr=#4682b4);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #699bc4, #4682b4);
  color: #ffffff;
}
.archive-search-box ul li .selected-archive-box .close {
  font-size: 16px;
  float: none;
}
.archive-search-box ul li.archive-search-input-box {
  min-width: 230px;
}
.archive-search-box ul li.archive-search-input-box span {
  border: none;
}
.archive-search-box ul li.archive-search-input-box input {
  width: 100%;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: none;
}
#navigationBar {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
#navigationBar .brand-link {
  padding-top: 0px;
  padding-bottom: 0px;
}
#navigationBar .brand-link img {
  height: 50px;
}
#userActionsBtn .caret {
  border-top-color: white;
  border-bottom-color: white;
}
#userActionsBtn:hover {
  color: #ffffff;
  text-decoration: none;
}
#alertBadge .badge {
  top: -10px;
  left: -8px;
  position: relative;
}
#alertBadge .fa-bell {
  font-size: 16px;
}
.portlet-bar-edge {
  width: 10px;
  height: 100%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
  position: relative;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4682b4), to(#699bc4));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #699bc4, #4682b4);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #699bc4, #4682b4);
  /* IE 10 */
  background: -ms-linear-gradient(top, #699bc4, #4682b4);
  /* IE 9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#699bc4, endColorstr=#4682b4);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #699bc4, #4682b4);
}
.portlet-bar-edge-left {
  -moz-box-shadow: 1px 5px 10px 2px #808080;
  -webkit-box-shadow: 1px 5px 10px 2px #808080;
  box-shadow: 1px 5px 10px 2px #808080;
}
.portlet-bar-edge-right {
  -moz-box-shadow: -1px 5px 10px 2px #808080;
  -webkit-box-shadow: -1px 5px 10px 2px #808080;
  box-shadow: -1px 5px 10px 2px #808080;
}
.portlet-roller {
  width: 95%;
  width: -webkit-calc((100% - 10px*2));
  width: -moz-calc((100% - 10px*2));
  width: calc((100% - 10px*2));
  height: 100%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
}
.roller-gap {
  width: 100%;
  height: 3px;
}
.roller-bar {
  z-index: 3;
  position: relative;
  width: 100%;
  height: -webkit-calc(100% - 3px*2);
  height: -moz-calc(100% - 3px*2);
  height: calc(100% - 3px*2);
  padding-left: 20px;
  padding-right: 20px;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4682b4), to(#699bc4));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #699bc4, #4682b4);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #699bc4, #4682b4);
  /* IE 10 */
  background: -ms-linear-gradient(top, #699bc4, #4682b4);
  /* IE 9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#699bc4, endColorstr=#4682b4);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #699bc4, #4682b4);
  -moz-box-shadow: 0px 5px 15px 0px #808080;
  -webkit-box-shadow: 0px 5px 15px 0px #808080;
  box-shadow: 0px 5px 15px 0px #808080;
}
.roller-bar .fa.pull-right {
  margin-left: 10px;
}
.portlet-title-bar-btn {
  margin-top: 3px;
  color: white;
  cursor: pointer;
  text-shadow: 0px 2px #315a7d;
  margin-left: 10px;
}
.portlet-title-bar-btn:hover {
  color: white;
}
.portlet-bar {
  height: 30px;
}
.roller-gap-bottom {
  visibility: hidden;
}
.portlet-body {
  position: relative;
  margin: -webkit-calc(0px) -webkit-calc(10px) -webkit-calc(0px) -webkit-calc(10px);
  margin: -moz-calc(0px) -moz-calc(10px) -moz-calc(0px) -moz-calc(10px);
  margin: calc(0px) calc(10px) calc(0px) calc(10px);
  width: -webkit-calc(100% - 10px*2);
  width: -moz-calc(100% - 10px*2);
  width: calc(100% - 10px*2);
  height: 400px;
  background: #fff;
  -moz-box-shadow: 0px 1px 7px 0px #808080;
  -webkit-box-shadow: 0px 1px 7px 0px #808080;
  box-shadow: 0px 1px 7px 0px #808080;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nvd3chart .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 1;
}
.nvd3chart .nvd3 .nvtooltip {
  z-index: 20;
  position: relative;
}
.amchart {
  width: 100%;
  height: 100%;
}
.portlet-row [portlet] {
  margin-top: 20px;
}
.lower-portlet-row {
  margin-bottom: 5px;
}
/******************* Media Queries for portlet body height ***************/
#monitorPortletSet .portlet-body {
  /***********  For Vertical Stacking **************/
  /************* For Horizontal Stacking (bootstrap stacks horizontally beyond 1200px *************/
}
@media (min-width: 100px) and (max-width: 400px) {
  #monitorPortletSet .portlet-body {
    height: 200px;
  }
}
@media (min-width: 401px) and (max-width: 450px) {
  #monitorPortletSet .portlet-body {
    height: 250px;
  }
}
@media (min-width: 451px) and (max-width: 600px) {
  #monitorPortletSet .portlet-body {
    height: 300px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  #monitorPortletSet .portlet-body {
    height: 400px;
  }
}
@media (min-width: 901px) and (max-width: 1199px) {
  #monitorPortletSet .portlet-body {
    height: 450px;
  }
}
@media (min-width: 1200px) and (max-height: 600px) {
  #monitorPortletSet .portlet-body {
    height: 340px;
  }
}
@media (min-width: 1200px) and (min-height: 601px) and (max-height: 700px) {
  #monitorPortletSet .portlet-body {
    height: 300px;
  }
}
@media (min-width: 1200px) and (min-height: 701px) and (max-height: 750px) {
  #monitorPortletSet .portlet-body {
    height: 270px;
  }
}
@media (min-width: 1200px) and (min-height: 751px) and (max-height: 800px) {
  #monitorPortletSet .portlet-body {
    height: 300px;
  }
}
@media (min-width: 1200px) and (min-height: 801px) and (max-height: 850px) {
  #monitorPortletSet .portlet-body {
    height: 340px;
  }
}
@media (min-width: 1200px) and (min-height: 851px) and (max-height: 900px) {
  #monitorPortletSet .portlet-body {
    height: 350px;
  }
}
@media (min-width: 1200px) and (min-height: 900px) and (max-height: 1000px) {
  #monitorPortletSet .portlet-body {
    height: 400px;
  }
}
@media (min-width: 1200px) and (min-height: 1001px) and (max-height: 1100px) {
  #monitorPortletSet .portlet-body {
    height: 450px;
  }
}
@media (min-width: 1200px) and (min-height: 1101px) and (max-height: 1200px) {
  #monitorPortletSet .portlet-body {
    height: 500px;
  }
}
@media (min-width: 1200px) and (min-height: 1201px) and (max-height: 1300px) {
  #monitorPortletSet .portlet-body {
    height: 550px;
  }
}
@media (min-width: 1200px) and (min-height: 1301px) and (max-height: 1400px) {
  #monitorPortletSet .portlet-body {
    height: 600px;
  }
}
@media (min-width: 1200px) and (min-height: 1401px) and (max-height: 1500px) {
  #monitorPortletSet .portlet-body {
    height: 650px;
  }
}
@media (min-width: 1200px) and (min-height: 1501px) and (max-height: 1600px) {
  #monitorPortletSet .portlet-body {
    height: 700px;
  }
}
#apiInfo {
  margin-top: 20px;
}
.setting {
  margin-bottom: 30px;
}
.breadcrumb {
  margin-top: 5px;
}
.operations-row {
  margin-bottom: 40px;
}
.data-store-entry,
.archive-entry {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0px 0px 1px 0px #808080;
  -webkit-box-shadow: 0px 0px 1px 0px #808080;
  box-shadow: 0px 0px 1px 0px #808080;
  margin-bottom: 20px;
}
.data-store-entry .data-store-entry-header,
.archive-entry .data-store-entry-header,
.data-store-entry .archive-entry-header,
.archive-entry .archive-entry-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 7px;
  height: 35px;
}
.data-store-entry .data-store-entry-footer,
.archive-entry .data-store-entry-footer,
.data-store-entry .archive-entry-footer,
.archive-entry .archive-entry-footer {
  padding: 5px;
}
.data-store-entry .properties-table,
.archive-entry .properties-table {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
#aggregationTypeLabel {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(5px) -webkit-calc((100% - 71px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(5px) -moz-calc((100% - 71px)/2);
  margin: calc(0px) calc(0px) calc(5px) calc((100% - 71px)/2);
}
#aggregationTypeBtnGroup {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(0px) -webkit-calc((100% - 191px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(0px) -moz-calc((100% - 191px)/2);
  margin: calc(0px) calc(0px) calc(0px) calc((100% - 191px)/2);
}
#storagePrecisionDescription {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(5px) -webkit-calc((100% - 238px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(5px) -moz-calc((100% - 238px)/2);
  margin: calc(0px) calc(0px) calc(5px) calc((100% - 238px)/2);
}
#counterSizeDescription {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(5px) -webkit-calc((100% - 49px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(5px) -moz-calc((100% - 49px)/2);
  margin: calc(0px) calc(0px) calc(5px) calc((100% - 49px)/2);
}
#dataStoreEntriesPanel,
#archiveEntriesPanel {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#createRuleOpRow {
  margin-top: 18px;
}
.rule-entry {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0px 0px 1px 0px #808080;
  -webkit-box-shadow: 0px 0px 1px 0px #808080;
  box-shadow: 0px 0px 1px 0px #808080;
  margin-bottom: 20px;
}
.rule-entry .data-store-entry-header,
.rule-entry .archive-entry-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 7px;
  height: 35px;
}
.rule-entry .data-store-entry-footer,
.rule-entry .archive-entry-footer {
  padding: 5px;
}
.rule-entry .properties-table {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
#compositeConditionOperatorGroup {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(0px) -webkit-calc((100% - 97px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(0px) -moz-calc((100% - 97px)/2);
  margin: calc(0px) calc(0px) calc(0px) calc((100% - 97px)/2);
}
#ruleTitleRow {
  width: 100%;
  height: 50px;
  padding: 20px 10px 0px 10px;
  margin-bottom: 20px;
}
#ruleTitleRow .rule-title-row-box {
  float: left;
  height: 100%;
  width: 18%;
  padding-top: 5px;
  border-radius: 5px;
}
#ruleTitleRow .unselected-rule-title-row-box {
  border: 1px solid #adadad;
}
#ruleTitleRow .rule-title-row-padding-box {
  float: left;
  height: 100%;
  width: -webkit-calc((100% - 18%*3)/4);
  width: -moz-calc((100% - 18%*3)/4);
  width: calc((100% - 18%*3)/4);
}
#ruleTitleRow .rule-title-row-padding-box .rule-title-row-strip {
  background-color: #E8E8E8;
  width: 100%;
  height: 6px;
  top: -webkit-calc((100% - 6px)/2);
  top: -moz-calc((100% - 6px)/2);
  top: calc((100% - 6px)/2);
  position: relative;
}
#rulesEntriesPanel {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.portlet-placeholder {
  position: absolute;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
  width: 155px;
  height: 95px;
  top: -webkit-calc((100% - 95px)/2);
  top: -moz-calc((100% - 95px)/2);
  top: calc((100% - 95px)/2);
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(0px) -webkit-calc((100% - 155px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(0px) -moz-calc((100% - 155px)/2);
  margin: calc(0px) calc(0px) calc(0px) calc((100% - 155px)/2);
}
.archiveDeletedMsg {
  padding-top: 40px;
}
#portletViewConfig .modal-dialog {
  padding-top: 15px;
  padding-bottom: 15px;
}
#portletViewConfig .modal-content {
  height: 630px;
}
#portletViewConfig .modal-content .modal-body {
  min-height: -webkit-calc(100% - 56px - 74px);
  min-height: -moz-calc(100% - 56px - 74px);
  min-height: calc(100% - 56px - 74px);
}
#portletViewConfig .modal-content .modal-body .date-time-range-selector {
  -moz-box-shadow: 0px 1px 3px 0px #808080;
  -webkit-box-shadow: 0px 1px 3px 0px #808080;
  box-shadow: 0px 1px 3px 0px #808080;
  margin-top: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
#portletViewConfig .modal-content .modal-body #updatePolicyBtnGroup {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(0px) -webkit-calc((100% - 219px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(0px) -moz-calc((100% - 219px)/2);
  margin: calc(0px) calc(0px) calc(0px) calc((100% - 219px)/2);
}
#portletViewConfig .modal-content .modal-body [date-time-picker] label {
  padding-right: 0px;
}
@media (max-width: 1000px) {
  #portletViewConfig .modal-content .modal-body [date-time-picker] label {
    margin-left: 15px;
  }
}
#portletViewConfig .modal-content .modal-body #dateRangeContainer {
  padding-right: 20px;
  padding-left: 20px;
}
#portletViewConfig .modal-content .modal-body .datepicker-container {
  padding-right: 0px;
}
#portletViewConfig .modal-content .modal-body .timepicker-container {
  padding-left: 0px;
}
#portletViewConfig .update-policy-radio {
  margin-left: 20px;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.loading-icon-container .loading-icon-top-offset {
  width: 100%;
  height: -webkit-calc((100% - 90px)/2);
  height: -moz-calc((100% - 90px)/2);
  height: calc((100% - 90px)/2);
}
.loading-icon-container .loading-icon {
  width: 80px;
  position: relative;
  font-size: 90px;
  text-shadow: 0px 1px 0px #fff;
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(0px) -webkit-calc((100% - 80px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(0px) -moz-calc((100% - 80px)/2);
  margin: calc(0px) calc(0px) calc(0px) calc((100% - 80px)/2);
}
.timenome-chart .timerange-title {
  height: 20px;
  margin-bottom: 0px;
}
.timenome-chart .graph-area {
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
}
