.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.portlet-bar-edge {
  width: 10px;
  height: 100%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
  position: relative;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4682b4), to(#699bc4));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #699bc4, #4682b4);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #699bc4, #4682b4);
  /* IE 10 */
  background: -ms-linear-gradient(top, #699bc4, #4682b4);
  /* IE 9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#699bc4, endColorstr=#4682b4);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #699bc4, #4682b4);
}
.portlet-bar-edge-left {
  -moz-box-shadow: 1px 5px 10px 2px #808080;
  -webkit-box-shadow: 1px 5px 10px 2px #808080;
  box-shadow: 1px 5px 10px 2px #808080;
}
.portlet-bar-edge-right {
  -moz-box-shadow: -1px 5px 10px 2px #808080;
  -webkit-box-shadow: -1px 5px 10px 2px #808080;
  box-shadow: -1px 5px 10px 2px #808080;
}
.portlet-roller {
  width: 95%;
  width: -webkit-calc((100% - 10px*2));
  width: -moz-calc((100% - 10px*2));
  width: calc((100% - 10px*2));
  height: 100%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
}
.roller-gap {
  width: 100%;
  height: 3px;
}
.roller-bar {
  z-index: 3;
  position: relative;
  width: 100%;
  height: -webkit-calc(100% - 3px*2);
  height: -moz-calc(100% - 3px*2);
  height: calc(100% - 3px*2);
  padding-left: 20px;
  padding-right: 20px;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4682b4), to(#699bc4));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #699bc4, #4682b4);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #699bc4, #4682b4);
  /* IE 10 */
  background: -ms-linear-gradient(top, #699bc4, #4682b4);
  /* IE 9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#699bc4, endColorstr=#4682b4);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #699bc4, #4682b4);
  -moz-box-shadow: 0px 5px 15px 0px #808080;
  -webkit-box-shadow: 0px 5px 15px 0px #808080;
  box-shadow: 0px 5px 15px 0px #808080;
}
.roller-bar .fa.pull-right {
  margin-left: 10px;
}
.portlet-title-bar-btn {
  margin-top: 3px;
  color: white;
  cursor: pointer;
  text-shadow: 0px 2px #315a7d;
  margin-left: 10px;
}
.portlet-title-bar-btn:hover {
  color: white;
}
.portlet-bar {
  height: 30px;
}
.roller-gap-bottom {
  visibility: hidden;
}
.portlet-body {
  position: relative;
  margin: -webkit-calc(0px) -webkit-calc(10px) -webkit-calc(0px) -webkit-calc(10px);
  margin: -moz-calc(0px) -moz-calc(10px) -moz-calc(0px) -moz-calc(10px);
  margin: calc(0px) calc(10px) calc(0px) calc(10px);
  width: -webkit-calc(100% - 10px*2);
  width: -moz-calc(100% - 10px*2);
  width: calc(100% - 10px*2);
  height: 400px;
  background: #fff;
  -moz-box-shadow: 0px 1px 7px 0px #808080;
  -webkit-box-shadow: 0px 1px 7px 0px #808080;
  box-shadow: 0px 1px 7px 0px #808080;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
