@import "../util/constants.less";
@import "../util/styleUtilities.less";
@import "../util/containerUtilities.less";

@portlet-bar-height: 30px;
@portlet-bar-edge-width: 10px;
@roller-gap-height: 3px;
@inter-icon-distance: 10px;

.portlet-bar-edge {
	width: @portlet-bar-edge-width;
	height: 100%;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	float: left;

	z-index: 4;
	position: relative;

	.gradientBackground(lighten(@brand-primary, 10%), @brand-primary);
}

.portlet-bar-edge-left {
	.boxShadow(1px, 5px, 10px, 2px, grey);
}

.portlet-bar-edge-right {
	.boxShadow(-1px, 5px, 10px, 2px, grey);
}

.portlet-roller {
	width: 95%;
	.width(~"(100% - @{portlet-bar-edge-width}*2)");
	height: 100%;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	float: left;
}

.roller-gap {
	width: 100%;
	height: @roller-gap-height;
}

.roller-bar {
	z-index: 3;
	position: relative;
	width: 100%;
	.height(~"100% - @{roller-gap-height}*2");

	padding-left: 20px;
	padding-right: 20px;

	.fa.pull-right {
		margin-left: @inter-icon-distance;
	}

	.gradientBackground(lighten(@brand-primary, 10%), @brand-primary);
	.boxShadow(0px, 5px, 15px, 0px, grey);
}

.portlet-title-bar-btn {
	margin-top: 3px;
	color: white;
	cursor: pointer;
	text-shadow: 0px 2px darken(@brand-primary, 15%);

	margin-left: @inter-icon-distance;

	&:hover {
		color: white;
	}
}

.portlet-bar {
	height: @portlet-bar-height;
}

.roller-gap-bottom {
	visibility: hidden;
}

.portlet-body {
	position: relative;

	.margin(0px, @portlet-bar-edge-width, 0px, @portlet-bar-edge-width);

	.width(~"100% - @{portlet-bar-edge-width}*2");
	height: 400px;

	background: #fff;
	.boxShadow(0px, 1px, 7px, 0px, grey);
	.transition(0.4s);
}