<div class="full-width portlet-bar">

	<!--left side edge-->
	<div class="portlet-bar-edge portlet-bar-edge-left"></div>

	<div class="portlet-roller">
		<div class="roller-gap"></div>
		<!-- Title Bar -->
		<div class="roller-bar">
			<span class="text-left text-white">{{portletTitle}}</span>

			<a target="_blank"
			   class="portlet-title-bar-btn pull-right"
			   fullscreen-new-window-link
			   tooltip="Full screen chart in new tab"
			   data-toggle="tooltip"
			   data-placement="bottom">

				<i class="fa fa-external-link"></i>
			</a>

			<i class="fa fa-wrench portlet-title-bar-btn pull-right"
			   tooltip="Configure chart"
			   data-toggle="tooltip"
			   data-placement="bottom"
			   ng-click="configureView()"></i>

			<i ng-class="{'fa': true, 'fa-chevron-up': !minimized, 'fa-chevron-down': minimized, 'portlet-title-bar-btn': true, 'pull-right': true}"
			   ng-click="minimize()"
			   tooltip="Minimize chart"
			   data-toggle="tooltip"
			   data-placement="bottom"></i>

		</div>
		<div class="roller-gap roller-gap-bottom"></div>
	</div>

	<!--right side edge-->
	<div class="portlet-bar-edge portlet-bar-edge-right"></div>
</div>

<div class="portlet-body" ng-style="portletBodyStyle">
	<!--portletTemplateUrl is not directly linked to viewConfig.templateUrl because we wish to switch it to empty when user clicks on minimize -->
	<div ng-class="{'main-container': true}" ng-hide="minimized && hideable" ng-include="portletTemplateUrl"></div>
</div>