<ol class="breadcrumb">
	<li>
		<a ng-href="{{homeUrl}}" ng-click="homeClicked()">{{homeUrlText}}</a>
	</li>
	<li ng-repeat="link in linkStack">
		<a ng-class="{'active': link.selCheckValue==maxSelCheckValue}" title="{{link.text}}" ng-href="{{link.href}}">{{link.text | TrimFilter}}</a>
	</li>
</ol>
