.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.breadcrumb {
  margin-top: 5px;
}
.operations-row {
  margin-bottom: 40px;
}
.data-store-entry,
.archive-entry {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0px 0px 1px 0px #808080;
  -webkit-box-shadow: 0px 0px 1px 0px #808080;
  box-shadow: 0px 0px 1px 0px #808080;
  margin-bottom: 20px;
}
.data-store-entry .data-store-entry-header,
.archive-entry .data-store-entry-header,
.data-store-entry .archive-entry-header,
.archive-entry .archive-entry-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 7px;
  height: 35px;
}
.data-store-entry .data-store-entry-footer,
.archive-entry .data-store-entry-footer,
.data-store-entry .archive-entry-footer,
.archive-entry .archive-entry-footer {
  padding: 5px;
}
.data-store-entry .properties-table,
.archive-entry .properties-table {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
#aggregationTypeLabel {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(5px) -webkit-calc((100% - 71px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(5px) -moz-calc((100% - 71px)/2);
  margin: calc(0px) calc(0px) calc(5px) calc((100% - 71px)/2);
}
#aggregationTypeBtnGroup {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(0px) -webkit-calc((100% - 191px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(0px) -moz-calc((100% - 191px)/2);
  margin: calc(0px) calc(0px) calc(0px) calc((100% - 191px)/2);
}
#storagePrecisionDescription {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(5px) -webkit-calc((100% - 238px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(5px) -moz-calc((100% - 238px)/2);
  margin: calc(0px) calc(0px) calc(5px) calc((100% - 238px)/2);
}
#counterSizeDescription {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(5px) -webkit-calc((100% - 49px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(5px) -moz-calc((100% - 49px)/2);
  margin: calc(0px) calc(0px) calc(5px) calc((100% - 49px)/2);
}
#dataStoreEntriesPanel,
#archiveEntriesPanel {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
