@import "../util/styleUtilities.less";
@import "../util/containerUtilities.less";

.breadcrumb{
	margin-top: 5px;
}

.operations-row{
	margin-bottom: 40px;
}

.data-store-entry, .archive-entry{
	.border-radius(5px,5px,5px,5px);
	.boxShadow(0px,0px,1px,0px, grey);

	margin-bottom: 20px;

	.data-store-entry-header, .archive-entry-header{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding-top: 7px;
		height: 35px;
	}

	.data-store-entry-footer, .archive-entry-footer{
		padding: 5px;
	}

	.properties-table{
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
	}
}

#aggregationTypeLabel{
	@labelWidth: 71px;
	.margin(0px,0px,5px,~"(100% - @{labelWidth})/2");
}

#aggregationTypeBtnGroup {
	@btnGroupWidth: 191px;
	.margin(0px,0px,0px,~"(100% - @{btnGroupWidth})/2");
}

#storagePrecisionDescription{
	@labelWidth: 238px;
	.margin(0px,0px,5px,~"(100% - @{labelWidth})/2");
}

#counterSizeDescription{
	@labelWidth: 49px;
	.margin(0px,0px,5px,~"(100% - @{labelWidth})/2");
}

#dataStoreEntriesPanel, #archiveEntriesPanel{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}