<div id="createRule" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content" ng-click="hideArchiveSearchDropdown();">

			<!--Header-->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Rule</h4>
			</div>

			<div id="ruleTitleRow" ng-include="'js/modules/timenomewatch/templates/views/rules/ruleTitleRow.html'">
			</div>
			<hr>

			<!--Body-->
			<div class="modal-body" ng-switch on="rulescreen">
				<div ng-switch-when="1">
					<div ng-include="'js/modules/timenomewatch/templates/views/rules/ruleInfo.html'"></div>
				</div>

				<div ng-switch-when="2">
					<div ng-include="'js/modules/timenomewatch/templates/views/rules/ruleCondition.html'"></div>
				</div>

				<div ng-switch-when="3">
					<div ng-include="'js/modules/timenomewatch/templates/views/rules/ruleAlert.html'"></div>
				</div>

				<div ng-switch-default>
					<div ng-include="'js/modules/timenomewatch/templates/views/rules/ruleInfo.html'"></div>
				</div>
			</div>

			<!--Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-default" ng-hide="rulescreen==1" ng-click="backClicked();">Back
				</button>
				<button type="button" class="btn btn-default"
						ng-hide="rulescreen==3"
						ng-click="nextClicked();"
						ng-disabled="toBeCreatedRule.ruleName.length==0 || allRules[toBeCreatedRule.ruleName] || toBeCreatedRule.archives.length==0"
						>
					Next
				</button>
				<button type="button" data-dismiss="modal" class="btn btn-primary" ng-show="rulescreen==3">Ok
				</button>
			</div>
		</div>
	</div>
</div>