<div class="form-horizontal">
	<div class="form-group">
		<label class="col-xs-3 control-label">Rule Name</label>

		<div class="col-xs-9 col-md-5 col-sm-5">
			<input type="text" class="form-control" placeholder="My new Rule"
				   ng-model="toBeCreatedRule.ruleName">
			<span ng-show="toBeCreatedRule.ruleName.length==0"
				  class="label alert-warning wrap-text">Rule name can't be empty.</span>
			<span ng-show="allRules[toBeCreatedRule.ruleName]" class="label alert-danger wrap-text">Another Rule of the same name exists.</span>
		</div>
	</div>
	<hr>
</div>

<div class="form-horizontal">
	<div class="form-group">
		<label class="col-md-3 control-label">Archives</label>
	</div>
</div>
<div search-archives listen-for-refresh-on="refreshArchiveSearchBox"
	 hide-archive-search-dropdown-on="hideArchiveSearchDropdownCnt" on-search-box-clicked="archiveSearchBoxClicked"></div>
<div class="row" ng-show="toBeCreatedRule.archives.length==0">
	<div class="col-xs-10 col-xs-offset-1">
		<span class="label alert-warning">At least one archive should be selected.</span>
	</div>
</div>
