<div class="form-horizontal">
	<div class="form-group">
		<label class="col-xs-3 control-label">Alert Frequency</label>

		<div class="col-xs-9 col-md-5 col-sm-5">
			<select class="form-control"
					ng-model="toBeCreatedRule.alert.frequency">
				<option value="once">Once</option>
				<option value="always">Always</option>
			</select>
			<span ng-show="toBeCreatedRule.alert.frequency=='once'"
				  class="label alert-info wrap-text">You will get only one alert, even if rule condition fires multiple times.</span>
			<span ng-show="toBeCreatedRule.alert.frequency=='always'" class="label alert-info wrap-text">Until the rule condition gets cleared, you will get alerts each time rule condition fires.</span>
		</div>
	</div>
	<hr>
</div>

<div class="form-horizontal">
	<div class="form-group">
		<label class="col-xs-3 control-label">Alert Type</label>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="toBeCreatedRule.alert.alertTypes.dashboardnotification"> Dashboard
					Notification
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="toBeCreatedRule.alert.alertTypes.email"> Send Email
				</label>
			</div>
		</div>
	</div>

	<div class="row panel panel-default archive-search-box archive-search" ng-show="toBeCreatedRule.alert.alertTypes.email==true">
		<ul class="col-xs-12">
			<li class="selected-archives">
				<div ng-repeat="selectedMailId in toBeCreatedRule.alert.emailList"
					 class="selected-archive-box">
					<span>{{selectedMailId}}</span>
					<span class="text-right close" ng-click="removeEmailFromSelectedList($event, $index)">&times;</span>
				</div>
			</li>

			<li class="archive-search-input-box">
				<div class="input-group search-group">
					<!-- dont change type from text to email. ng-trim doesnt work-->
					<input ng-model="emailBox.emailId" type="text" class="form-control" ng-trim="false" placeholder="Enter e-Mail Id">
				</div>
			</li>
		</ul>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" type="checkbox" ng-model="toBeCreatedRule.alert.alertTypes.sms"> Send SMS
				</label>
			</div>
		</div>
	</div>

	<div class="row panel panel-default archive-search-box archive-search" ng-show="toBeCreatedRule.alert.alertTypes.sms==true">
		<ul class="col-xs-12">
			<li class="selected-archives">
				<div ng-repeat="selectedSms in toBeCreatedRule.alert.smsList"
					 class="selected-archive-box">
					<span>{{selectedSms}}</span>
					<span class="text-right close" ng-click="removeSmsFromSelectedList($event, $index)">&times;</span>
				</div>
			</li>

			<li class="archive-search-input-box">
				<div class="input-group search-group">
					<!-- dont change type from text to telephone. ng-trim doesnt work-->
					<input ng-model="smsBox.sms" type="text" ng-trim="false" class="form-control" placeholder="Enter mobile number">
				</div>
			</li>
		</ul>
	</div>
</div>