<div class="form-horizontal">
	<div class="form-group">
		<label class="col-xs-2 control-label">Data Value</label>

		<div class="col-xs-5">
			<select class="form-control" ng-model="condition1.operator" ng-options="operator.value as operator.title for operator in operatorList">
			</select>
		</div>

		<div class="col-xs-3">
			<input type="number" ng-model="condition1.value" placeholder="Enter some value" class="form-control">
		</div>

		<div class="col-xs-2" ng-show="toBeCreatedRule.condition.type=='composite'">
			<button class="btn btn-danger text-white text-center btn-sm"
					tooltip="Remove Condition"
					data-toggle="tooltip"
					data-placement="bottom"
					ng-click="removeCondition1();">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>

	<div class="form-group text-center" ng-show="toBeCreatedRule.condition.type=='single'">
		<button class="btn btn-default" ng-click="addAnotherConditionClicked();">Add another condition</button>
	</div>

	<div class="row" ng-show="toBeCreatedRule.condition.type=='composite'">
		<div class="col-xs-12">
			<div id="compositeConditionOperatorGroup" class="btn-group">
				<button type="button" ng-click="setCompositeConditionOperator('AND')"
						ng-class="{'btn': true, 'btn-default': true, 'active': toBeCreatedRule.condition.operator=='AND'}">
					AND
				</button>
				<button type="button" ng-click="setCompositeConditionOperator('OR')"
						ng-class="{'btn': true, 'btn-default': true, 'active': toBeCreatedRule.condition.operator=='OR'}">
					OR
				</button>
			</div>
		</div>
	</div>

	<br>

	<div class="form-group" ng-show="toBeCreatedRule.condition.type=='composite'">
		<label class="col-xs-2 control-label">Data Value</label>

		<div class="col-xs-5">
			<select class="form-control" ng-model="condition2.operator" ng-options="operator.value as operator.title for operator in operatorList">
			</select>
		</div>

		<div class="col-xs-3">
			<input type="number" ng-model="condition2.value" placeholder="Enter some value" class="form-control">
		</div>

		<div class="col-xs-2" ng-show="toBeCreatedRule.condition.type=='composite'">
			<button class="btn btn-danger text-white text-center btn-sm"
					tooltip="Remove Condition"
					data-toggle="tooltip"
					data-placement="bottom"
					ng-click="removeCondition2()">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>

</div>