<div class="rule-title-row-padding-box">
	<div class="rule-title-row-strip"></div>
</div>

<div ng-class="{'rule-title-row-box': true, 'unselected-rule-title-row-box': rulescreen!=1, 'background-primary': rulescreen==1, 'text-white': rulescreen==1}"><p
		class="text-center">Info</p></div>

<div class="rule-title-row-padding-box">
	<div class="rule-title-row-strip"></div>
</div>

<div ng-class="{'rule-title-row-box': true, 'unselected-rule-title-row-box': rulescreen!=2, 'background-primary': rulescreen==2, 'text-white': rulescreen==2}"><p
		class="text-center">Condition</p></div>

<div class="rule-title-row-padding-box">
	<div class="rule-title-row-strip"></div>
</div>

<div ng-class="{'rule-title-row-box': true, 'unselected-rule-title-row-box': rulescreen!=3, 'background-primary': rulescreen==3, 'text-white': rulescreen==3}"><p
		class="text-center">Alert</p></div>

<div class="rule-title-row-padding-box">
	<div class="rule-title-row-strip"></div>
</div>