<div class="archiveDeletedMsg">
<p class="lead text-muted text-center">Archives showing data in this chart do not exist anymore.</p>
</div>

<div class="well well-lg portlet-placeholder text-center">
	<div class="btn-group btn-group-lg">
		<button type="button"
				class="btn btn-lg btn-primary"
				tooltip="New Line chart"
				data-toggle="tooltip"
				data-placement="bottom"
				ng-click="configureView('lineChart')">
			<img src="img/lineChart.svg" style="height: 18px"></span>
		</button>

		<button type="button"
				class="btn btn-lg btn-primary"
				style="border-bottom-right-radius: 6px; border-top-right-radius: 6px"
				tooltip="New Column chart"
				data-toggle="tooltip"
				data-placement="bottom"
				ng-click="configureView('columnChart')">
			<span class="fa fa-bar-chart-o"></span>
		</button>
	</div>
</div>