<div class="main-container timenome-chart">
	<p class="text-primary text-center timerange-title">Real Time Updated</p>

	<div class="graph-area"
		 ng-controller="DynamicLineChartCtrl"
		 amchart
		 chart-type="stackedColumnChart"
		 chart-data="chartData"
		 on-update-watch="chartData.updateCnt">
	</div>
</div>