<div class="main-container timenome-chart" ng-controller="StaticLineChartCtrl">
	<p class="text-primary text-center timerange-title">{{graphStartTimestamp + ' to ' + graphEndTimestamp}}</p>

	<div class="graph-area"
		 amchart
		 chart-type="stackedColumnChart"
		 chart-data="chartData"
		 on-update-watch="chartData.updateCnt">
	</div>
</div>