<div id="navigationBar" navigation-bar ng-controller="NavbarCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button id="navbarCollapseBtn" type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand brand-link" target="_blank" href="http://www.timenome.com"><img src="img/brandname_white_transparent_203x90.png"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li header-link page-id="monitor"><a>Monitor</a></li>
				<li header-link page-id="manage"><a>Manage</a></li>
				<!--<li header-link page-id="rules"><a>Rules</a></li>-->
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<!--Alert Menu-->
				<!--<li header-link page-id="alertDetails" ng-controller="AlertNotificationCtrl">-->
					<!--<a id="alertBadge">-->
						<!--<i class="fa fa-bell"></i><span class="badge badge-danger">{{unreadAlertCount}}</span>-->
					<!--</a>-->
				<!--</li>-->
				<li header-link page-id="settings">
					<a>
						<i class="fa fa-gear"></i>
					</a>
				</li>

				<!--User Menu-->
				<li class="dropdown">
					<a class="dropdown-toggle cursor-hand" data-toggle="dropdown">
						<i class="fa fa-user"></i>
						{{loggedInUsername}}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a class="cursor-hand" ng-click="logoutClicked()"><i class="fa fa-power-off"></i>
							Log Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>