<div id="apiInfo" class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<label>API Information</label>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td><b>API Key</b></td>
					<td>{{apiCredentials.key}}</td>
				</tr>
				<tr>
					<td><b>API Secret</b></td>
					<td>{{apiCredentials.secret}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<hr>

<div class="row setting" role="form">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="row">
			<label class="col-xs-4 control-label">Download graphs as:</label>

			<div class="col-xs-8">
				<select class="form-control" ng-model="graphDownloadFormat"
						ng-change="onSettingChanged('graphDownloadFormat')">
					<option value="jpg">JPG Image</option>
					<option value="png">PNG Image</option>
					<option value="pdf">PDF</option>
					<option value="svg">SVG</option>
				</select>
			</div>
		</div>
	</div>
</div>

<div class="row setting" role="form">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="row">
			<label class="col-xs-4 control-label">Across all screens:</label>

			<div class="col-xs-6">
				<select class="form-control" ng-model="timeFormat" ng-change="onTimeFormatChanged()">
					<option value="12hr">Use 12 Hour Time Format</option>
					<option value="24hr">Use 24 Hour Time Format</option>
				</select>
				<span class="label alert-info wrap-text">
					Please refresh the page if you change this setting.
				</span>
			</div>
			<div class="col-xs-2">
				<button class="btn btn-primary btn-sm" ng-click="refreshPage()" tooltip="Refresh Page"
						data-toggle="tooltip"
						data-placement="bottom">
					<i class="fa fa-refresh"></i>
				</button>
			</div>
		</div>

	</div>
</div>