<div id="portletViewConfig" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content" ng-click="hideArchiveSearchDropdown = hideArchiveSearchDropdown + 1;">

			<!--Header-->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Configure Chart</h4>
			</div>

			<!--Body-->
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">Title</label>

						<div class="col-xs-9 col-md-5 col-sm-5">
							<input type="text" class="form-control" placeholder="Title of the chart" ng-model="viewConfig.title">
						</div>
					</div>
				</div>
				<hr>

				<div class="form-horizontal"
					 ng-include="'js/modules/timenomewatch/templates/views/util/portletViewConfig/visualizationType.html'"></div>
				<hr>

				<div class="form-horizontal"
					 ng-include="'js/modules/timenomewatch/templates/views/util/portletViewConfig/updatePolicy.html'"></div>
				<hr>

				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-md-3 control-label">Archives</label>
					</div>
				</div>

				<div search-archives listen-for-refresh-on="refreshArchiveSearchBox" hide-archive-search-dropdown-on="hideArchiveSearchDropdown" on-search-box-clicked="archiveSearchBoxClicked"></div>
			</div>

			<!--Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" ng-click="onOkClicked()" data-dismiss="modal" class="btn btn-primary">Ok</button>
			</div>

		</div>
	</div>
</div>