<div class="row">
	<div class="col-xs-12">
		<div id="updatePolicyBtnGroup" class="btn-group">
			<!--In case you change either of the text below, measure the width, go to portletViewConfig.less and update @btnGroupWidth-->
			<button type="button" ng-click="onStaticChartSelected()"
					ng-class="{'btn': true, 'btn-primary': true, 'active': viewConfig.updatePolicy.chartUpdateType=='staticChart'}">
				Static Chart
			</button>
			<button type="button" ng-click="onDynamicChartSelected()"
					ng-class="{'btn': true, 'btn-primary': true, 'active': viewConfig.updatePolicy.chartUpdateType=='dynamicChart'}">
				Dynamic Chart
			</button>
		</div>
	</div>
</div>

<br>

<!--Only to be shown for static charts-->
<div class="form-group"
	 ng-show="viewConfig.updatePolicy.chartUpdateType=='staticChart'">
	<label class="col-md-3 control-label">Time Range</label>

	<div class="col-md-9" ng-init="usePreset=false">
		<button type="button"
				class="btn btn-default full-width"
				ng-click="dateTimeRangeBtnClicked($event)">
			{{getDateTimeString(fromTimestamp) + ' to ' + getDateTimeString(toTimestamp)}}
			<span class="caret"></span>
		</button>

		<div class="date-time-range-selector" ng-show="dateTimeRange.showDateTimeRangeSelector">
			<div id="fromDateTimePicker" class="form-group" ng-model="fromTimestamp" date-time-picker label="From"
				 ng-hide="usePreset"></div>

			<div id="toDateTimePicker" class="form-group" ng-model="toTimestamp" date-time-picker label="To"
				 depends-on="fromDateTimePicker" ng-hide="usePreset"></div>

			<!--Uncomment the following only when we support Presets in static charts-->

			<!--<div class="row" ng-show="usePreset">-->
			<!--<div class="col-md-offset-3 col-md-6">-->
			<!--<select class="form-control">-->
			<!--<option>Last Min</option>-->
			<!--<option>Last Hour</option>-->
			<!--<option>Last Day</option>-->
			<!--<option>Last Week</option>-->
			<!--<option>Last Month</option>-->
			<!--<option>Last Year</option>-->
			<!--</select>-->
			<!--</div>-->
			<!--</div>-->

			<!--<button class="btn btn-link" ng-hide="usePreset" ng-click="usePreset=true">Use presets</button>-->
			<!--<button class="btn btn-link" ng-show="usePreset" ng-click="usePreset=false">Use Time Range Selector</button>-->
		</div>
	</div>
</div>

<!--Only to be shown for dynamic charts-->
<div class="form-group" ng-show="viewConfig.updatePolicy.chartUpdateType=='dynamicChart'">
	<p class="text-center">Chart will update automatically as and when data will arrive.</p>
</div>