<div class="form-group">
	<label class="col-xs-3 control-label">Chart Type</label>

	<div class="col-xs-9 col-md-5 col-sm-5">
		<select class="form-control"
				ng-model="viewConfig.chartType"
				ng-options="chartType.type as chartType.name for chartType in chartTypes">
		</select>
	</div>
</div>