.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
@media (min-width: 600px) {
  .archive-search {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.archive-select-dropdown {
  overflow: auto;
  height: 200px;
  margin-top: 2px;
  -moz-box-shadow: 0px 1px 3px 0px #808080;
  -webkit-box-shadow: 0px 1px 3px 0px #808080;
  box-shadow: 0px 1px 3px 0px #808080;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  background-color: white;
}
.archive-select-dropdown div {
  opacity: 0.5;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-top: 5px;
}
.archive-select-dropdown .selectable-archive {
  opacity: 1.0;
  cursor: pointer;
}
.archive-select-dropdown .selectable-archive:hover,
.archive-select-dropdown .selectable-archive:focus {
  background-color: #4682b4;
  color: #ffffff;
}
.archive-search-box {
  margin-bottom: 0px;
  border-color: #4682b4;
}
.archive-search-box ul {
  padding-top: 5px;
}
.archive-search-box ul .selected-archives .popover-content {
  padding: 0px;
}
.archive-search-box ul li {
  list-style: none;
  float: left;
}
.archive-search-box ul li .selected-archive-box {
  height: 22px;
  float: left;
  margin-top: 6px;
  margin-right: 10px;
  padding-left: 6px;
  padding-right: 6px;
  border-color: #3f75a2;
  border-radius: 3px;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4682b4), to(#699bc4));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #699bc4, #4682b4);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #699bc4, #4682b4);
  /* IE 10 */
  background: -ms-linear-gradient(top, #699bc4, #4682b4);
  /* IE 9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#699bc4, endColorstr=#4682b4);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #699bc4, #4682b4);
  color: #ffffff;
}
.archive-search-box ul li .selected-archive-box .close {
  font-size: 16px;
  float: none;
}
.archive-search-box ul li.archive-search-input-box {
  min-width: 230px;
}
.archive-search-box ul li.archive-search-input-box span {
  border: none;
}
.archive-search-box ul li.archive-search-input-box input {
  width: 100%;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: none;
}
