@import "styleUtilities.less";

.archive-search {
	@media (min-width: 600px) {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.archive-select-dropdown {
	overflow: auto;
	height: 200px;
	margin-top: 2px;
	.boxShadow(0px, 1px, 3px, 0px, grey);
	.border-radius(5px, 5px, 5px, 5px);
	padding: 10px;
	background-color: white;

	div {
		opacity: 0.5;//can't move this in archive-entry
		padding-bottom: 5px;
		padding-left: 12px;
		padding-top: 5px;
	}

	.selectable-archive {
		opacity: 1.0;
		cursor: pointer;

		&:hover, &:focus {
			background-color: @brand-primary;
			.text-white;
		}
	}
}

.archive-search-box {
	margin-bottom: 0px;
	border-color: @brand-primary;

	ul {
		padding-top: 5px;

		.selected-archives {
			.popover-content {
				padding: 0px;
			}
		}

		li {
			list-style: none;
			float: left;

			.selected-archive-box {
				height: 22px;
				float: left;

				margin-top: 6px;
				margin-right: 10px;

				padding-left: 6px;
				padding-right: 6px;

				border-color: darken(@brand-primary, 5%);
				border-radius: 3px;

				.gradientBackground(lighten(@brand-primary, 10%), @brand-primary);

				.text-white;

				.close {
					font-size: 16px;
					float: none;
				}
			}
		}

		li.archive-search-input-box {
			min-width: 230px;

			span {
				border: none;
			}

			input {
				width: 100%;
				height: 30px;
				margin: 0px;
				padding: 0px;

				border: none;
			}
		}
	}
}