.container {
	@media (min-width: 800px) {
		min-width: 770px;
	}
	@media (min-width: 900px) {
		min-width: 870px;
	}
	@media (min-width: 1000px) {
		min-width: 970px;
	}
	@media (min-width: 1100px) {
		min-width: 1070px;
	}
	@media (min-width: 1200px) {
		min-width: 1170px;
	}

	@media (min-width: 1300px) {
		min-width: 1270px;
	}

	@media (min-width: 1400px) {
		min-width: 1370px;
	}

	@media (min-width: 1500px) {
		min-width: 1470px;
	}

	@media (min-width: 1600px) {
		min-width: 1570px;
	}

	@media (min-width: 1600px) {
		min-width: 1570px;
	}

	@media (min-width: 1700px) {
		min-width: 1670px;
	}

	@media (min-width: 1800px) {
		min-width: 1770px;
	}

	@media (min-width: 1900px) {
		min-width: 1870px;
	}

	@media (min-width: 2000px) {
		min-width: 1970px;
	}

	@media (min-width: 2100px) {
		min-width: 2070px;
	}

	@media (min-width: 2200px) {
		min-width: 2170px;
	}

	@media (min-width: 2300px) {
		min-width: 2270px;
	}

	@media (min-width: 2400px) {
		min-width: 2370px;
	}

	@media (min-width: 2500px) {
		min-width: 2470px;
	}

	@media (min-width: 2600px) {
		min-width: 2570px;
	}

	@media (min-width: 2700px) {
		min-width: 2670px;
	}
}