@import "../util/styleUtilities.less";
@import "../util/containerUtilities.less";

.portlet-placeholder {
	position: absolute;

	.border-box;

	@well-width: 155px;
	@well-height: 95px;

	width: @well-width;
	height: @well-height;

	.top(~"(100% - @{well-height})/2");
	.margin(0px, 0px, 0px, ~"(100% - @{well-width})/2");
}

.archiveDeletedMsg{
	padding-top: 40px;
}