.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
