.logo672x299 {
  height: 250px;
}
@media (max-width: 600px) {
  .logo672x299 {
    height: 200px;
  }
}
@media (max-width: 500px) {
  .logo672x299 {
    height: 150px;
  }
}
@media (max-width: 400px) {
  .logo672x299 {
    height: 125px;
  }
}
@media (max-width: 350px) {
  .logo672x299 {
    height: 100px;
  }
}
@media (max-width: 300px) {
  .logo672x299 {
    height: 80px;
  }
}
@media (max-width: 250px) {
  .logo672x299 {
    height: 65px;
  }
}
