.logo672x299{
	height: 250px;

	@media (max-width: 600px) {
		height: 200px;
	}

	@media (max-width: 500px) {
		height: 150px;
	}

	@media (max-width: 400px) {
		height: 125px;
	}

	@media (max-width: 350px) {
		height: 100px;
	}

	@media (max-width: 300px) {
		height: 80px;
	}

	@media (max-width: 250px) {
		height: 65px;
	}
}