.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
