@import "constants.less";

.border-radius(@topLeft:0px, @topRight:0px, @bottomRight:0px, @bottomLeft:0px) {
	-webkit-border-radius: @topLeft @topRight @bottomRight @bottomLeft;
	-moz-border-radius: @topLeft @topRight @bottomRight @bottomLeft;
	border-radius: @topLeft @topRight @bottomRight @bottomLeft;
}

.gradientBackground(@topColor, @bottomColor) {

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@bottomColor), to(@topColor));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, @topColor, @bottomColor);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, @topColor, @bottomColor);

	/* IE 10 */
	background: -ms-linear-gradient(top, @topColor, @bottomColor);

	/* IE 9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@topColor, endColorstr=@bottomColor);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, @topColor, @bottomColor);

}

.text-white {
	color: #ffffff;
}

.text-grey {
	color: #808080;
}

.text-engraved-dark-bg {
	text-shadow: 0px -1px 0px #6D6D6D;
}

.text-engraved-light-bg {
	text-shadow: 0px 1px 0px #fff;
}

.circle {
	border-radius: 50%;
}

.div-inline {
	display: inline;
}

.cursor-hand {
	cursor: pointer;
}

.background-primary{
	background-color: @brand-primary;
}

.border-red {
	border: 1px solid red;
}

.badge-danger {
	background-color: @brand-danger;
}

.transition(@time:1.0s, @cssProp:all) {
	-webkit-transition: @cssProp @time ease;
	-moz-transition: @cssProp @time ease;
	-o-transition: @cssProp @time ease;
	-ms-transition: @cssProp @time ease;
	transition: @cssProp @time ease;
}

.boxShadow(@hshadow: 0px, @vshadow: 0px, @blur: 0px, @spread: 0px, @color: #fff) {
	-moz-box-shadow: @hshadow @vshadow @blur @spread @color;
	-webkit-box-shadow: @hshadow @vshadow @blur @spread @color;
	box-shadow: @hshadow @vshadow @blur @spread @color;
}

.boxShadowInset(@hshadow: 0px, @vshadow: 0px, @blur: 0px, @spread: 0px, @color: #fff) {
	-moz-box-shadow: @hshadow @vshadow @blur @spread @color inset;
	-webkit-box-shadow: @hshadow @vshadow @blur @spread @color inset;
	box-shadow: @hshadow @vshadow @blur @spread @color inset;
}

.input-group-middle-btn {
	button {
		border-radius: 0px;
	}
}

.wrap-text{
	@media (max-width: 640px) {
		white-space: normal;
	}
}

.search-group{
	input {
		border-right: none;
		box-shadow: none;

		&:focus {
			box-shadow: none;
		}
	}


	span {
		box-shadow: none;
		border-left: none;
		.fa{
			opacity: 0.6;
		}
		background-color: transparent;
	}
}