.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
#createRuleOpRow {
  margin-top: 18px;
}
.rule-entry {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 0px 0px 1px 0px #808080;
  -webkit-box-shadow: 0px 0px 1px 0px #808080;
  box-shadow: 0px 0px 1px 0px #808080;
  margin-bottom: 20px;
}
.rule-entry .data-store-entry-header,
.rule-entry .archive-entry-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 7px;
  height: 35px;
}
.rule-entry .data-store-entry-footer,
.rule-entry .archive-entry-footer {
  padding: 5px;
}
.rule-entry .properties-table {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
#compositeConditionOperatorGroup {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(0px) -webkit-calc((100% - 97px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(0px) -moz-calc((100% - 97px)/2);
  margin: calc(0px) calc(0px) calc(0px) calc((100% - 97px)/2);
}
#ruleTitleRow {
  width: 100%;
  height: 50px;
  padding: 20px 10px 0px 10px;
  margin-bottom: 20px;
}
#ruleTitleRow .rule-title-row-box {
  float: left;
  height: 100%;
  width: 18%;
  padding-top: 5px;
  border-radius: 5px;
}
#ruleTitleRow .unselected-rule-title-row-box {
  border: 1px solid #adadad;
}
#ruleTitleRow .rule-title-row-padding-box {
  float: left;
  height: 100%;
  width: -webkit-calc((100% - 18%*3)/4);
  width: -moz-calc((100% - 18%*3)/4);
  width: calc((100% - 18%*3)/4);
}
#ruleTitleRow .rule-title-row-padding-box .rule-title-row-strip {
  background-color: #E8E8E8;
  width: 100%;
  height: 6px;
  top: -webkit-calc((100% - 6px)/2);
  top: -moz-calc((100% - 6px)/2);
  top: calc((100% - 6px)/2);
  position: relative;
}
#rulesEntriesPanel {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
