
@import "../util/styleUtilities.less";
@import "../util/containerUtilities.less";

#createRuleOpRow{
	margin-top: 18px;
}

.rule-entry{
	.border-radius(5px,5px,5px,5px);
	.boxShadow(0px,0px,1px,0px, grey);

	margin-bottom: 20px;

	.data-store-entry-header, .archive-entry-header{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding-top: 7px;
		height: 35px;
	}

	.data-store-entry-footer, .archive-entry-footer{
		padding: 5px;
	}

	.properties-table{
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
	}
}

#compositeConditionOperatorGroup {
	@btnGroupWidth: 97px;
	.margin(0px,0px,0px,~"(100% - @{btnGroupWidth})/2");
}

#ruleTitleRow{
	.full-width;
	height: 50px;
	padding: 20px 10px 0px 10px;

	margin-bottom: 20px;

	@rule-title-row-box-width:18%;

	.rule-title-row-box{
		float: left;
		.full-height;
		width: @rule-title-row-box-width;
		padding-top: 5px;
		border-radius: 5px;
	}

	.unselected-rule-title-row-box{
		border: 1px solid #adadad;
	}

	.rule-title-row-padding-box{
		float: left;
		.full-height;
		.width(~"(100% - @{rule-title-row-box-width}*3)/4");

		.rule-title-row-strip{
			background-color: #E8E8E8;
			.full-width;
			@strip-height: 6px;

			height: @strip-height;
			.top(~"(100% - @{strip-height})/2");
			position: relative;
		}
	}
}

#rulesEntriesPanel{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}