@import "../util/constants.less";
@import "../util/styleUtilities.less";
@import "../util/containerUtilities.less";

#portletViewConfig {

	.modal-dialog {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.modal-content {
		@modalContentMinHeight: 630px;
		//As per bootstrap, these heights include margin
		@modal-header-height: 56px;
		@modal-footer-height: 74px;

		height: @modalContentMinHeight;

		.modal-body {
			.min-height(~"100% - @{modal-header-height} - @{modal-footer-height}");

			.date-time-range-selector {
				.boxShadow(0px, 1px, 3px, 0px, grey);
				margin-top: 2px;
				padding-top: 10px;
				padding-bottom: 10px;
				.border-radius(5px, 5px, 5px, 5px);
			}

			#updatePolicyBtnGroup {
				@btnGroupWidth: 219px;
				.margin(0px,0px,0px,~"(100% - @{btnGroupWidth})/2");
			}

			[date-time-picker] {
				label {
					padding-right: 0px;

					@media (max-width: 1000px) {
						margin-left: @gridColumnPadding;
					}
				}
			}

			#dateRangeContainer{
				padding-right: 20px;
				padding-left: 20px;
			}

			.datepicker-container {
				padding-right: 0px;
			}
			.timepicker-container {
				padding-left: 0px;
			}
		}
	}

	.update-policy-radio {
		margin-left: 20px;
	}
}

