.text-white {
  color: #ffffff;
}
.text-grey {
  color: #808080;
}
.text-engraved-dark-bg {
  text-shadow: 0px -1px 0px #6d6d6d;
}
.text-engraved-light-bg {
  text-shadow: 0px 1px 0px #fff;
}
.circle {
  border-radius: 50%;
}
.div-inline {
  display: inline;
}
.cursor-hand {
  cursor: pointer;
}
.background-primary {
  background-color: #4682b4;
}
.border-red {
  border: 1px solid red;
}
.badge-danger {
  background-color: #d9534f;
}
.input-group-middle-btn button {
  border-radius: 0px;
}
@media (max-width: 640px) {
  .wrap-text {
    white-space: normal;
  }
}
.search-group input {
  border-right: none;
  box-shadow: none;
}
.search-group input:focus {
  box-shadow: none;
}
.search-group span {
  box-shadow: none;
  border-left: none;
  background-color: transparent;
}
.search-group span .fa {
  opacity: 0.6;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
/* Sizes given in percentage are calculated after creating box model */
.border-box {
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* IE, Opera and Chrome */
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -ms-box-sizing: border-box;
}
#portletViewConfig .modal-dialog {
  padding-top: 15px;
  padding-bottom: 15px;
}
#portletViewConfig .modal-content {
  height: 630px;
}
#portletViewConfig .modal-content .modal-body {
  min-height: -webkit-calc(100% - 56px - 74px);
  min-height: -moz-calc(100% - 56px - 74px);
  min-height: calc(100% - 56px - 74px);
}
#portletViewConfig .modal-content .modal-body .date-time-range-selector {
  -moz-box-shadow: 0px 1px 3px 0px #808080;
  -webkit-box-shadow: 0px 1px 3px 0px #808080;
  box-shadow: 0px 1px 3px 0px #808080;
  margin-top: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
#portletViewConfig .modal-content .modal-body #updatePolicyBtnGroup {
  margin: -webkit-calc(0px) -webkit-calc(0px) -webkit-calc(0px) -webkit-calc((100% - 219px)/2);
  margin: -moz-calc(0px) -moz-calc(0px) -moz-calc(0px) -moz-calc((100% - 219px)/2);
  margin: calc(0px) calc(0px) calc(0px) calc((100% - 219px)/2);
}
#portletViewConfig .modal-content .modal-body [date-time-picker] label {
  padding-right: 0px;
}
@media (max-width: 1000px) {
  #portletViewConfig .modal-content .modal-body [date-time-picker] label {
    margin-left: 15px;
  }
}
#portletViewConfig .modal-content .modal-body #dateRangeContainer {
  padding-right: 20px;
  padding-left: 20px;
}
#portletViewConfig .modal-content .modal-body .datepicker-container {
  padding-right: 0px;
}
#portletViewConfig .modal-content .modal-body .timepicker-container {
  padding-left: 0px;
}
#portletViewConfig .update-policy-radio {
  margin-left: 20px;
}
