<div class="row operations-row">
	<div class="col-xs-offset-1 col-xs-2">
		<button class="btn btn-primary" ng-click="onCreateArchiveClicked()">Create Archive</button>
	</div>
</div>

<div class="row">
	<div class="input-group col-xs-offset-1 col-xs-10 search-group">
		<input ng-model="search.filterText" class="form-control" placeholder="Search existing Archives">
		<span class="input-group-addon"><i class=" fa fa-search"></i></span>
	</div>
</div>

<div id="archiveEntriesPanel" class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div ng-repeat="i in archiveCountSequence track by $index">
			<div class="row">
				<div ng-repeat="j in [1,2,3] track by $index" class="col-lg-4">


					<div class="archive-entry" ng-show="($parent.$index * 3 +
								$index) < filteredArchiveKeys.length">
						<div class="background-primary archive-entry-header">
							<p class="text-center text-white">{{allArchives[filteredArchiveKeys[$parent.$index * 3 +
								$index]].archiveName}}</p>
						</div>

						<div class="properties-table">
							<p class="text-primary text-center">Archive Details</p>
							<table class="table">
								<tbody>
									<tr>
										<td class="text-primary">Aggregation Function</td>
										<td>{{allArchives[filteredArchiveKeys[$parent.$index * 3 +
											$index]].aggregationFunction}}</td>
									</tr>

									<tr>
										<td class="text-primary"
											ng-switch on="allArchives[filteredArchiveKeys[$parent.$index * 3 + $index]].isCounterBased">
											<p ng-switch-when="true">Aggregation Sample Size</p>
											<p ng-switch-when="false">Aggregation Time Period</p>
											<p ng-switch-default>Aggregation Time Period</p>
										</td>

										<td ng-switch on="allArchives[filteredArchiveKeys[$parent.$index * 3 + $index]].isCounterBased">
											<p ng-switch-when="true">{{allArchives[filteredArchiveKeys[$parent.$parent.$index * 3 + $parent.$index]].counterSize}}</p>
											<p ng-switch-when="false">{{allArchives[filteredArchiveKeys[$parent.$parent.$index * 3 + $parent.$index]].storagePrecisionString}}</p>
											<p ng-switch-default>{{allArchives[filteredArchiveKeys[$parent.$parent.$index * 3 + $parent.$index]].storagePrecisionString}}</p>
										</td>
									</tr>

								</tbody>
							</table>
						</div>

						<div class="archive-entry-footer text-right">
							<button class="btn btn-sm btn-danger"
									tooltip="Delete Archive"
									data-toggle="tooltip"
									data-placement="bottom"
									ng-click="onDeleteClicked(filteredArchiveKeys[$parent.$index * 3 +	$index])">
								<i class="fa fa-trash-o"></i>
							</button>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>

<div modal
	 modal-trigger="showConfirmDeleteArchiveModal"
	 on-cancel-click-handler="onConfirmDeleteCancelClicked"
	 ng-include="'js/modules/timenomewatch/templates/views/util/confirmDeleteModal.html'">
</div>

<div modal
	 modal-trigger="showNotificationModal"
	 on-cancel-click-handler="onNotificationOkClicked"
	 ng-include="'js/modules/timenomewatch/templates/views/util/notificationModal.html'">
</div>

<div modal
	 modal-trigger="showCreateArchiveModal"
	 on-cancel-click-handler="onCreateArchiveCancelClicked"
	 ng-include="'js/modules/timenomewatch/templates/views/manage/createArchiveModal.html'">
</div>


