<div id="createDataStore" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Data Store</h4>
			</div>

			<!--Body-->
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">Data Store Name</label>

						<div class="col-xs-9 col-md-5 col-sm-5">
							<input type="text" class="form-control" placeholder="My new Data Store"
								   ng-model="toBeCreatedDataStore.dataStoreName">
							<span ng-show="toBeCreatedDataStore.dataStoreName.length==0" class="label alert-warning wrap-text">Data Store name can't be empty.</span>
							<span ng-show="allDataStores[toBeCreatedDataStore.dataStoreName]"
								  class="label alert-danger wrap-text">Another Data Store of the same name exists.</span>
						</div>
					</div>
				</div>
				<hr>

				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-md-3 control-label">Properties</label>
					</div>
				</div>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Value</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="attribute in toBeCreatedDataStore.attributes">
							<td>{{attribute.key}}</td>
							<td>{{attribute.value}}</td>
							<td>
								<button class="btn btn-sm btn-primary btn-danger"
										tooltip="Remove Property"
										data-toggle="tooltip"
										data-placement="bottom"
										ng-click="toBeCreatedDataStore.attributes.splice($index,1);">
									<i class="fa fa-trash-o"></i>
								</button>
							</td>
						</tr>

						<tr ng-init="newProperty={key:'',value:''}">
							<td><input type="text" class="form-control" placeholder="Property name" ng-model="newProperty.key"></td>
							<td>
								<input type="text" class="form-control" placeholder="Property value" ng-model="newProperty.value">
							</td>
							<td>
								<button class="btn btn-sm btn-primary"
										tooltip="Add Property"
										data-toggle="tooltip"
										data-placement="bottom"
										ng-click="toBeCreatedDataStore.attributes.push({key: newProperty.key, value: newProperty.value}); newProperty.key=''; newProperty.value=''"
										ng-disabled="newProperty.key.length==0 || newProperty.value.length==0">
									<i class="fa fa-plus"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!--Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button"
						ng-disabled="toBeCreatedDataStore.dataStoreName.length==0 || allDataStores[toBeCreatedDataStore.dataStoreName]"
						ng-click="createDataStore()" data-dismiss="modal" class="btn btn-primary">Ok
				</button>
			</div>
		</div>
	</div>
</div>