<div id="createDataStore" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<!--Header-->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Archive</h4>
			</div>

			<!--Body-->
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">Archive Name</label>

						<div class="col-xs-9 col-md-5 col-sm-5">
							<input type="text" class="form-control" placeholder="My new Archive"
								   ng-model="toBeCreatedArchive.archiveName">
							<span ng-show="toBeCreatedArchive.archiveName.length==0" class="label alert-warning wrap-text">Archive name can't be empty.</span>
							<span ng-show="allArchives[toBeCreatedArchive.archiveKey]"
								  class="label alert-danger wrap-text">Another Archive of the same name exists.</span>
						</div>
					</div>
					<hr>

					<!-- Uncomment the following when Server supports counter based archives -->

					<!--<label id="aggregationTypeLabel" class="control-label">Aggregate</label>-->

					<!--<div class="row" style="margin-bottom: 15px">-->
						<!--<div class="col-xs-12">-->
							<!--<div id="aggregationTypeBtnGroup" class="btn-group">-->
								<!--<button type="button" ng-click="toBeCreatedArchive.isCounterBased=false"-->
										<!--ng-class="{'btn': true, 'btn-primary': true, 'active': toBeCreatedArchive.isCounterBased==false}">-->
									<!--Over Time-->
								<!--</button>-->
								<!--<button type="button" ng-click="toBeCreatedArchive.isCounterBased=true"-->
										<!--ng-class="{'btn': true, 'btn-primary': true, 'active': toBeCreatedArchive.isCounterBased==true}">-->
									<!--Over Count-->
								<!--</button>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				</div>

				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">Calculate</label>

						<div class="col-xs-9 col-md-5 col-sm-5">
							<select class="form-control"
									ng-model="toBeCreatedArchive.aggregationFunction"
									ng-options="funcIndex as funcLabel for (funcIndex, funcLabel) in aggregationFuncIndexToName">
							</select>
						</div>
					</div>
				</div>

				<div ng-switch on="toBeCreatedArchive.isCounterBased">
					<div ng-switch-when="false">
						<label id="storagePrecisionDescription" class="control-label">of all the samples collected over
							every</label>

						<div class="form-group" ng-hide="showCustomTimePeriodEditor==true">
							<div ng-class="{'row': true, 'has-error': !isNumber(toBeCreatedArchive.storagePrecision) || !isNumber(storagePrecision.unitCnt) }">

								<div class="col-xs-4 col-xs-offset-1">
									<input type="number"
										   class="form-control"
										   ng-model="storagePrecision.unitCnt"
										   ng-change="calculateStoragePrecision(storagePrecision.unitCnt, storagePrecision.unit)">
								</div>

								<div class="col-xs-6">
									<select class="form-control"
											ng-model="storagePrecision.unit"
											ng-change="calculateStoragePrecision(storagePrecision.unitCnt, storagePrecision.unit)"
											ng-options="unitValue as unitLabel for (unitLabel, unitValue) in timeUnitMillisecondsMap">
									</select>
								</div>
							</div>
						</div>

						<div class="form-group" ng-show="showCustomTimePeriodEditor==true">
							<div ng-class="{'row': true, 'has-error': !isNumber(toBeCreatedArchive.storagePrecision)}">

								<div class="col-xs-5 col-xs-offset-2">
									<input type="number"
										   class="form-control"
										   ng-model="toBeCreatedArchive.storagePrecision">
								</div>
								<p class="text-left col-xs-3" ng-show="showCustomTimePeriodEditor==true">seconds.</p>
							</div>
						</div>

						<div class="row text-center">
							<button class="btn btn-sm btn-default" ng-hide="showCustomTimePeriodEditor==true; "
									ng-click="showCustomTimePeriodEditor=true; toBeCreatedArchive.storagePrecision=10">Enter custom Time Period value.
							</button>
							<button class="btn btn-sm btn-default" ng-show="showCustomTimePeriodEditor==true;"
									ng-click="showCustomTimePeriodEditor=false; storagePrecision.unitCnt=10; calculateStoragePrecision(storagePrecision.unitCnt, storagePrecision.unit);">Use presets for Time Period value.
							</button>
						</div>
					</div>

					<div ng-switch-when="true">
						<label id="counterSizeDescription" class="control-label">of every</label>

						<div ng-class="{'row': true, 'has-error': !isNumber(toBeCreatedArchive.counterSize)}">

							<div class="col-xs-5 col-xs-offset-2">
								<input type="number"
									   class="form-control"
									   ng-model="toBeCreatedArchive.counterSize">
							</div>
							<p class="text-left col-xs-3">samples.</p>
						</div>
					</div>
				</div>
			</div>

			<!--Footer-->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button"
						ng-disabled="toBeCreatedArchive.archiveName.length==0 || allArchives[toBeCreatedArchive.archiveKey] || !isNumber(toBeCreatedArchive.storagePrecision) || !isNumber(toBeCreatedArchive.counterSize)"
						ng-click="createArchive()" data-dismiss="modal" class="btn btn-primary">Ok
				</button>
			</div>
		</div>
	</div>
</div>