<div class="row operations-row">
	<div class="col-xs-offset-1 col-xs-2">
		<button class="btn btn-primary" ng-click="onCreateDataStoreClicked()">Create Data Store</button>
	</div>
</div>

<div class="row">
	<div class="input-group col-xs-offset-1 col-xs-10 search-group">
		<input ng-model="search.filterText" class="form-control" placeholder="Search existing Data Stores">
		<span class="input-group-addon"><i class=" fa fa-search"></i></span>
	</div>
</div>

<div id="dataStoreEntriesPanel" class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div ng-repeat="i in dataStoreCountSequence track by $index">
			<div class="row">
				<div ng-repeat="j in [1,2,3] track by $index" class="col-lg-4">
					<div class="data-store-entry" ng-show="($parent.$index * 3 +
								$index) < filteredDataStoreNames.length">


						<div class="background-primary data-store-entry-header">
							<p class="text-center text-white">{{filteredDataStoreNames[$parent.$index * 3 +
								$index]}}</p>
						</div>

						<div class="properties-table">
							<p class="text-primary text-center">Properties</p>
							<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Value</th>
									</tr>
								</thead>
								<tbody>
									<p class="text-center" ng-show="allDataStores[filteredDataStoreNames[$parent.$index * 3 +
								$index]].attributes.length==0">No properties added yet</p>
									<tr ng-repeat="attribute in allDataStores[filteredDataStoreNames[$parent.$index * 3 +
								$index]].attributes">
										<td class="text-primary">{{attribute.key}}</td>
										<td>{{attribute.value}}</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="data-store-entry-footer text-right">
							<button ng-click="showArchiveList(filteredDataStoreNames[$parent.$index * 3 +
								$index]);"
							   class="btn btn-sm btn-primary">
								Archives
							</button>

							<button class="btn btn-sm btn-danger"
									tooltip="Delete Data Store"
									data-toggle="tooltip"
									data-placement="bottom"
									ng-click="onDeleteClicked($parent.$index * 3 +	$index)">
								<i class="fa fa-trash-o"></i>
							</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div modal
	 modal-trigger="showConfirmDeleteDsModal"
	 on-cancel-click-handler="onConfirmDeleteCancelClicked"
	 ng-include="'js/modules/timenomewatch/templates/views/util/confirmDeleteModal.html'">
 </div>

<div modal
	 modal-trigger="showNotificationModal"
	 on-cancel-click-handler="onNotificationOkClicked"
	 ng-include="'js/modules/timenomewatch/templates/views/util/notificationModal.html'">
</div>

<div modal
	 modal-trigger="showCreateDataStoreModal"
	 on-cancel-click-handler="onCreateDataStoreCancelClicked"
	 ng-include="'js/modules/timenomewatch/templates/views/manage/createDataStoreModal.html'">
</div>


