<ol class="breadcrumb">
	<li class="btn-link" ng-click="showDataStoreList();">Data Stores</li>
	<li class="text-grey">{{selectedDataStoreName | TrimFilter}}</li>
</ol>

<div ng-switch on="manageScreenName">

	<div ng-switch-when="dataStoreList">
		<div ng-include="'js/modules/timenomewatch/templates/views/manage/dataStoreList.html'"></div>
	</div>

	<div ng-switch-when="archiveList">
		<div ng-controller="ArchiveListCtrl" ng-include="'js/modules/timenomewatch/templates/views/manage/archiveList.html'"></div>
	</div>

	<!-- case default-->
	<div ng-switch-default>
		<div ng-include="'js/modules/timenomewatch/templates/views/manage/dataStoreList.html'"></div>
	</div>
</div>


